{% load lib_extras %}
{% load humanize %}
{% load staticfiles %}
{% load widget_tweaks %}


{% block head_extra %}
    <script src="{% static 'js/comment_csrf.js' %}"></script>
    <script src="{% static 'js/comment.js' %}"></script>
{% endblock %}


<div class="row mb-3">
    <div class="col-md-auto">
        <h2><a name="comments">Comments</a></h2>
    </div>
    <div class="col d-flex align-items-center h100">
        <button type="button" class="btn {% if obj|content_type == 'page' %}btn-outline-purple{% elif obj|content_type == 'campaign' %}btn-outline-teal{% endif %}" data-toggle="modal" data-target="#newComment">
            <i class="fal fa-plus"></i> New comment
        </button>
    </div>
</div>



<div class="modal fade" id="newComment" tabindex="-1" role="dialog" aria-labelledby="newCommentLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newCommentLabel">New comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="comment-form" action="{% url 'comments:comment_post' content_type=obj|content_type_pk object_id=obj.pk %}" method="post">
                    {% csrf_token %}
                    {{ form.content_type }}
                    {{ form.object_id }}
                    <div class="form-group">
                        {{ form.comment|add_class:"form-control" }}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="submit-comment" type="button" class="btn btn-primary">Comment</button>
            </div>
        </div>
    </div>
</div>




{% if obj.comments %}
    {% for c in obj.comments.all reversed %}
        <div class="row comment" id="comment-{{ c.pk }}">
            <a name="c{{ c.pk }}"></a>
            <div class="col-md-auto comment-profile-picture-container">
                {% if c.user.userprofile.profile_picture %}
                    <div class="{{ c.user.userprofile.profile_picture|img_class:'small' }}">
                        <img src="{{ c.user.userprofile.profile_picture.image.url }}" />
                    </div>
                {% else %}
                    <div class="circular-square-sm">
                        <img src="{% static 'img/user_default.svg' %}" />
                    </div>
                {% endif %}
            </div>
            <div class="col-md-10 mb-4">
                <div class="row comment-info">
                    <div class="col-md-auto">
                        <span class="comment-user-name">
                            {% if c.user.first_name %}
                                {{ c.user.first_name }} {{ c.user.last_name }}
                            {% else %}
                                {{ c.user.email }}
                            {% endif %}
                        </span>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col-sm-auto">
                                <span class="comment-date"><i class="fal fa-clock"></i> {{ c.date|naturaltime }}</span>
                            </div>
                            <div class="col-sm-auto ml-auto">
                                {% if obj.get_model == "Page" %}
                                    <a href="{% url 'page' page_slug=obj.page_slug %}#c{{ c.pk }}" class="comment-permalink"><i class="fal fa-link"></i></a>
                                {% elif obj.get_model == "Campaign" %}
                                    <a href="{% url 'campaign' page_slug=obj.page.page_slug campaign_pk=obj.pk campaign_slug=obj.campaign_slug %}#c{{ c.pk }}" class="teal comment-permalink"><i class="fal fa-link"></i></a>
                                {% endif %}
                                <a href="{% url 'notes:abuse_comment' comment_pk=c.pk %}" class="{% if obj.get_model == 'Campaign' %}teal {% endif %}report-comment"><i class="fal fa-flag"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <span class="comment-content">{{ c.comment|linebreaks }}</span>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>No comments!</p>
{% endif %}
