{% load staticfiles %}
{% load comment_extras %}
{% load votes_extras %}
{% load widget_tweaks %}

<div class="row justify-content-center">
    <div class="col-lg-8">
        <h2>Comments</h2>
        {% if request.user.is_authenticated %}
        <form id="comment" action="{% url 'comments:comment' model=model pk=obj.pk %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                {% render_field form.content class+="form-control" %}
            </div>
            <input type="submit" class="btn btn-purple btn-block mb-3" value="Comment" />
        </form>
        {% else %}
        <p>You must be logged in to comment!</p>
        {% endif %}
    </div>
</div>
{% if obj.comments %}
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div id="comment-list">
            {% for c in obj.comments %}
                {% user_vote_was user=request.user obj="comment" pk=c.pk as user_vote_was %}
                <div class="row comment" id="comment-{{ c.pk }}">
                    <div class="col-md-auto comment-profile-picture-container">
                        {% if c.user.userprofile.profile_picture %}<img class="comment-profile-picture" src="{{ c.user.userprofile.profile_picture.image.url }}" />{% else %}<img class="comment-profile-picture" src="{% static 'img/user_default.svg' %}" />{% endif %}
                    </div>
                    <div class="col comment-main">
                        <div class="row comment-info">
                            <div class="col">
                                <span class="comment-user-name">{{ c.user.first_name }} {{ c.user.last_name }}</span>
                                <span class="comment-date"><i class="fal fa-clock"></i> {{ c.date|date:"m/d/y g:i A" }}</span>
                            </div>
                            <div class="col-md-auto text-right">
                                <span class="votes">
                                    <a id="upvotes-c-{{ c.pk }}" class="vote upvote{% if user_vote_was == 'upvote' %} user-vote{% endif %}" href=""><i class="fal fa-chevron-circle-up"></i></a> <label id="upvote-count-c-{{ c.pk }}">{{ c.upvotes }}</label>
                                    <a id="downvotes-c-{{ c.pk }}" class="vote downvote{% if user_vote_was == 'downvote' %} user-vote{% endif %}" href=""><i class="fal fa-chevron-circle-down"></i></a> <label id="downvote-count-c-{{ c.pk }}">{{ c.downvotes }}</label>
                                </span>
                                <a class="show-reply" id="{{ c.pk }}" href="" data-toggle="modal" data-target="#replyModal"><i class="fal fa-reply"></i></a>{% if c.user == request.user %} <a id="delete-comment-{{ c.pk }}" class="delete-cr" href=""><i class="fal fa-trash-alt"></i></a>{% endif %}</a>
                                <a href="{% url 'notes:abuse_comment' type='comment' obj_pk=c.pk %}" class="report-comment"><i class="fal fa-flag"></i></a>
                            </div>
                        </div>
                        <hr>
                        {{ c.content }}
                    </div>
                {% comment_replies c.pk as replies %}
                {% if replies %}
                    <div class="w-100"></div>
                    <div id="comment-{{ c.pk }}-replies" class="col reply-list">
                    {% for r in replies %}
                        <div class="row reply" id="reply-{{ r.pk }}">
                            <div class="col-md-auto comment-profile-picture-container">
                                {% if r.user.userprofile.profile_picture %}<img class="comment-profile-picture" src="{{ r.user.userprofile.profile_picture.image.url }}" />{% else %}<img class="comment-profile-picture" src="{% static 'img/user_default.svg' %}" />{% endif %}
                            </div>
                            <div class="col comment-main">
                                <div class="row comment-info">
                                    <div class="col">
                                        <span class="comment-user-name">{{ r.user.first_name }} {{ r.user.last_name }}</span>
                                        <span class="comment-date"><i class="fal fa-clock"></i> {{ r.date|date:"m/d/y g:i A" }}</span>
                                    </div>
                                    <div class="col-md-auto text-right">
                                        <span class="votes">
                                            <a id="upvotes-r-{{ r.pk }}" class="vote upvote{% if user_vote_was == 'upvote' %} user-vote{% endif %}" href=""><i class="fal fa-chevron-circle-up"></i></a> <label id="upvote-count-r-{{ r.pk }}">{{ r.upvotes }}</label>
                                            <a id="downvotes-r-{{ r.pk }}" class="vote downvote{% if user_vote_was == 'downvote' %} user-vote{% endif %}" href=""><i class="fal fa-chevron-circle-down"></i></a> <label id="downvote-count-r-{{ r.pk }}">{{ r.downvotes }}</label>
                                        </span>
                                        {% if r.user == request.user %} <a id="delete-reply-{{ r.pk }}" class="delete-cr" href=""><i class="fal fa-trash-alt"></i></a>{% endif %}
                                        <a href="{% url 'notes:abuse_comment' type='reply' obj_pk=r.pk %}" class="report-comment"><i class="fal fa-flag"></i></a>
                                    </div>
                                </div>
                                <hr>
                                {{ r.content }}
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% else %}
    <p id="no-comments">No comments</p>
{% endif %}

<div class="modal fade" id="replyModal" tabindex="-1" role="dialog" aria-labelledby="replyModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="replyModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
