{% load humanize %}
{% load staticfiles %}
{% load comment_extras %}


<div class="row">
    <div class="col-md-auto">
        <h2>Comments</h2>
    </div>
    <div class="col d-flex align-items-center h100">
        <button id="show-comment-{{ model }}-{{ obj.pk }}" type="button" class="btn btn-outline-purple" data-toggle="modal" data-target="#newComment">
            <i class="fal fa-plus"></i> New comment
        </button>
    </div>
</div>

{% if obj.comments %}
    <div id="comment-list">
        {% for c in obj.comments %}
            <div class="row comment" id="comment-{{ c.pk }}">
                <div class="col">
                    <div class="row">
                        <div class="col-md-auto comment-profile-picture-container">
                            {% if c.user.userprofile.profile_picture %}<img class="comment-profile-picture" src="{{ c.user.userprofile.profile_picture.image.url }}" />{% else %}<img class="comment-profile-picture" src="{% static 'img/user_default.svg' %}" />{% endif %}
                        </div>
                        <div class="col-md-10 mb-4">
                            <div class="row comment-info">
                                <div class="col-md-auto">
                                    <span class="comment-user-name">{{ c.user.first_name }} {{ c.user.last_name }}</span>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col-sm-auto">
                                            <span class="comment-date"><i class="fal fa-clock"></i> {{ c.date|naturaltime }}</span>
                                        </div>
                                        <div class="col-sm-auto ml-auto">
                                            <a class="show-reply" id="{{ c.pk }}" href="" data-toggle="modal" data-target="#replyModal"><i class="fal fa-reply"></i></a>{% if c.user == request.user %} <a id="delete-comment-{{ c.pk }}" class="delete-cr" href=""><i class="fal fa-trash-alt"></i></a>{% endif %}</a>
                                            <a href="{% url 'notes:abuse_comment' type='comment' obj_pk=c.pk %}" class="report-comment"><i class="fal fa-flag"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <span class="comment-content">{{ c.content }}</span>
                        </div>
                    </div>
                    {% comment_replies c.pk as replies %}
                    {% if replies %}
                        <div class="w-100"></div>
                        <div id="comment-{{ c.pk }}-replies" class="row reply-list">
                            <div class="col">
                                {% for r in replies %}
                                    <div class="row reply offset-md-1" id="reply-{{ r.pk }}">
                                        <div class="col-md-auto comment-profile-picture-container">
                                            {% if r.user.userprofile.profile_picture %}<img class="comment-profile-picture" src="{{ r.user.userprofile.profile_picture.image.url }}" />{% else %}<img class="comment-profile-picture" src="{% static 'img/user_default.svg' %}" />{% endif %}
                                        </div>
                                        <div class="col-md-10 mb-4">
                                            <div class="row comment-info">
                                                <div class="col-md-auto">
                                                    <span class="comment-user-name">{{ r.user.first_name }} {{ r.user.last_name }}</span>
                                                </div>
                                                <div class="col">
                                                    <div class="row">
                                                        <div class="col-sm-auto">
                                                            <span class="comment-date"><i class="fal fa-clock"></i> {{ r.date|naturaltime }}</span>
                                                        </div>
                                                        <div class="col-sm-auto ml-auto">
                                                            {% if r.user == request.user %} <a id="delete-reply-{{ r.pk }}" class="delete-cr" href=""><i class="fal fa-trash-alt"></i></a>{% endif %}
                                                            <a href="{% url 'notes:abuse_comment' type='reply' obj_pk=r.pk %}" class="report-comment"><i class="fal fa-flag"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <span class="comment-content">{{ r.content }}</span>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p id="no-comments">No comments</p>
{% endif %}

<div class="modal fade" id="newComment" tabindex="-1" role="dialog" aria-labelledby="newCommentLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newCommentLabel">New comment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="replyModal" tabindex="-1" role="dialog" aria-labelledby="replyModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="replyModalLabel">New reply</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
