{% extends '_layout.html' %}
{% load static from staticfiles %}
{% load account %}

{% block title %}Email | {{ block.super }}{% endblock %}

{% block body_content %}

    {% include "messages.html" %}

    <div class="row">
        <div class="col-lg-3">
            {% include "userprofile/profile_menu.html" %}
        </div>
        <div class="col-lg-6">
            <h2>Email</h2>
            <hr>

            {% if confirmation %}
            
                {% user_display confirmation.email_address.user as user_display %}
                
                {% with confirmation.email_address.email as email %}
                    <p>Please confirm your email is: {{ email }}</p>
                {% endwith %}
                
                <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                    {% csrf_token %}
                    <button type="submit">Confirm</button>
                </form>
            
            {% else %}
            
                {% url 'account_email' as email_url %}
                
                <p>This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">click here</a> to issue a new e-mail confirmation request</a>.</p>
            
            {% endif %}
        </div>
    </div>
{% endblock %}