{% extends '_layout.html' %}
{% load static from staticfiles %}

{% block title %}Upload | {{ block.super }}{% endblock %}

{% block head_extra %}
    <script src="{% static '/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
    <script src="{% static '/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
    <script src="{% static '/jquery-file-upload/jquery.fileupload.js' %}"></script>
    <script src="{% static '/js/image_upload.js' %}"></script>

    <script>
        function delete_image(event) {
            var arr = event.target.id.split('-');
            var url = "{% url 'userprofile:user_image_delete' image_pk=0 %}".replace(0, arr[1]);
            $.get(url, function () {
                $("#image-" + arr[1]).remove();
                if (!$("#image-list li").length) {
                    $("#image-list").remove();
                    $("<p>No images!</p>").insertAfter("#images-header");
                };
            });
        };

        $(document).on('click', ".delete-image", function(event) {
            event.preventDefault();
            delete_image(event);
        });

        $(document).on("click", ".set-profile-picture", function(event) {
            event.preventDefault();
            var arr = $(this).closest("span").attr("id").split('-');
            var url = "{% url 'userprofile:user_profile_update' image_pk=0 %}".replace(0, arr[1]);
            $.get(url, function() {
                $(".profile").html("<a class='set-profile-picture' href=''>Make profile picture</a> - ");
                $("#profile-" + arr[1]).text("Profile picture - ");
            });
        });
    </script>

{% endblock %}

{% block body_content %}
    <div class="row">
        <div class="col-lg-3">
            {% include "userprofile/profile_menu.html" %}
        </div>
        <div class="col-lg-9">
            <h2>Upload Images</h2>
            <hr>
            <p>Uploads are limited to images and must be less than 4 MB in size.</p>
            <button class="btn btn-purple" type="button" id="upload-button">Upload Images</button>
    <input id="upload-input" type="file" name="image" multiple
        style="display:none;"
        data-url="{% url 'userprofile:user_image_upload' %}"
        data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}' />

    <h2 class="mt-5" id="images-header">My Images</h2>
    <hr>
    {% if images %}
        <ul id="image-list">
            {% for i in images %}
                <li id="image-{{ i.pk }}"><span class="profile" id="profile-{{ i.pk }}">{% if i.profile_picture %}Profile picture - {% else %}<a class="set-profile-picture" href="">Make profile picture</a> - {% endif %}</span><a href="{{ i.image.url }}">{{ i.image.name }}</a> - <a id="delete-{{ i.pk }}" class="delete-image" href="">Delete</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No images!</p>
    {% endif %}
    </div>
</div>
{% endblock %}

