{% extends '_layout.html' %}
{% load static from staticfiles %}
{% load donation_extras %}

{% block title %} Profile | {{ block.super }}{% endblock %}

{% block body_content %}

    {% for profile in userprofileimage %}
        <img src="{{ profile.image.url }}" width="300"/>
    {% endfor %}
    
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update profile" />
    </form>

    <h2>Pages I Admin</h2>
    <ul>
        {% for p in admin_pages %}
            <li><a href="{% url 'page' page_slug=p.page_slug %}">{{ p.name }}</a></li>
        {% endfor %}
    </ul>   

    <h2>Pages I Manage</h2>
    <ul>
        {% for p in manager_pages %}
            <li><a href="{% url 'page' page_slug=p.page_slug %}">{{ p.name }}</a></li>
        {% endfor %}
    </ul>   

    <h2>Campaigns I Admin</h2>
    <ul>
        {% for c in campaigns %}
            <li><a href="{% url 'campaign' page_slug=c.page.page_slug campaign_pk=c.pk campaign_slug=c.campaign_slug %}">{{ c.name }}</a></li>
        {% endfor %}
    </ul>

    <h2>Page Subscriptions</h2>
    <ul>
        {% for s in subscriptions %}
            <li><a href="{% url 'page' page_slug=s.page_slug %}">{{ s.name }}</a></li>
        {% endfor %}
    </ul>

    <h2><a href="{% url 'invitations:pending_invitations'  %}">My Pending Page invitations</a></h2>

    <h2>Invitations I've Sent</h2>
    <ul>
        {% for i in invitations %}
            <li>Invitation to {{ page.name }} sent to {{ i.invite_to }} on {{ i.date_created }}</li>
        {% endfor %}
    </ul>

    <p><a href="{% url 'userprofile:profile_image_upload' %}">Upload Image</a></p>

    <h3>Donations</h3>
    {% if donations %}
        <ul>
            {% for d in donations %}
                <li>{{ d.amount|cents_to_dollars }} to {% if d.page %}{{ d.page }}{% else %}{{ d.campaign }}{% endif %} @ {{ d.date }}</li>            
            {% endfor %}
        </ul>
    {% endif %}    

    <h3>User Images</h3>
    <ul>
        {% for image in userimages %}
            <li><img src="{{ image.image.url }}" width="200" />{{ image.caption }}<br>
            <p><a href="{% url 'userprofile:user_image_delete' %}">Delete Image</a></p>
            <p><a href="{% url 'userprofile:user_profile_update' %}">Update Profile Image</a></p></li>
        {% endfor %}
    </ul>


{% endblock %}
