{% extends '_layout.html' %}
{% load static from staticfiles %}

{% block title %} Profile | {{ block.super }}{% endblock %}

{% block body_content %}

    {% if user.userprofile.avatar %}
        <img src="{{ user.userprofile.avatar.url }}" />
    {% endif %}
    
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update profile" />
    </form>

    <h2>Campaigns I Created</h2>
    <ul>
        {% for c in campaigns %}
            <li><a href="{% url 'campaign' page_slug=c.page.page_slug campaign_slug=c.campaign_slug %}">{{ c.name }}</a></li>
        {% endfor %}
    </ul>
   

    <h2>Page Subscriptions</h2>
    <ul>
        {% for s in subscriptions %}
            <li><a href="{% url 'page' page_slug=s.page_slug %}">{{ s.name }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}
