{% extends '_layout.html' %}
{% load static from staticfiles %}
{% load donation_extras %}
{% load page_extras %}
{% load userprofile_extras %}
{% load lib_extras %}
{% load widget_tweaks %}

{% block title %} Profile | {{ block.super }}{% endblock %}

{% block head_extra %}
    <link href="{% static 'css/lightbox.css' %}" rel="stylesheet">
{% endblock %}

{% block body_content %}

    {% include "messages.html" %}

    <div class="row">
        <div class="col-lg-3">
            {% include "userprofile/profile_menu.html" %}
        </div>
        <div class="col-lg-6">
            <h2>Personal Information</h2>
            <hr>

            <p>PageFund will use your name when you comment on the site. If you don't have your name filled out, we'll use your email address instead.</p>

            <div class="row mb-2">
                <div class="col-sm-3">
                    Email
                </div>
                <div class="col-sm-9">
                    <p class="font-weight-bold">{{ request.user.email }}</p>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-sm-3">
                    Password
                </div>
                <div class="col-sm-9">
                    <p><a href="{% url 'change_password_request' %}">Reset password</a></p>
                </div>
            </div>

            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-group row">
                    <label for="id_first_name" class="col-sm-3 col-form-label">First name</label>
                    <div class="col-sm-9">
                        {% render_field form.first_name class+="form-control" %}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="id_last_name" class="col-sm-3 col-form-label">Last name</label>
                    <div class="col-sm-9">
                        {% render_field form.last_name class+="form-control" %}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="id_birthday" class="col-sm-3 col-form-label">Birthday</label>
                    <div class="col-sm-9">
                        {% render_field form.birthday class+="form-control" %}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="id_state" class="col-sm-3 col-form-label">State</label>
                    <div class="col-sm-9">
                        {% render_field form.state class+="form-control" %}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col text-right">
                        <input type="submit" class="btn btn-purple" value="Save changes" />
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-3 text-center">
            {% if userprofile.profile_picture %}
                <div class="{{ userprofile.profile_picture|img_class:'large' }}">
                    <a href="{{ userprofile.profile_picture.image.url }}" data-lightbox="image">
                        <img src="{{ userprofile.profile_picture.image.url }}" alt="User profile image" title="User profile image" />
                    </a>
                </div>
            {% else %}
                <div class="circular-square">
                    <img src="{% static 'img/user_default.svg' %}" alt="Default user profile image" title="Default user profile image" />
                </div>
            {% endif %}
            <p><a href="{% url 'userprofile:user_image_upload' %}">Upload and Edit images</a></p>
        </div>
    </div>
{% endblock %}

{% block body_extra %}
    <script src="{% static 'js/comment_csrf.js' %}"></script>
    <script src="{% static 'js/lightbox.js' %}"></script>
{% endblock %}
