<div class="form-row">
    {% for widget in widget.subwidgets %}
        {% if widget.name == "personal-birthday_month" %}
            <div class="form-group col-5">
        {% elif widget.name == "personal-birthday_day" %}
            <div class="form-group col-3">
        {% else %}
            <div class="form-group col-4">
        {% endif %}
            <select class="form-control" aria-label="{{ widget.name }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
                {% for group_name, group_choices, group_index in widget.optgroups %}
                    {% if group_name %}
                        <optgroup label="{{ group_name }}">
                    {% endif %}
                    {% for option in group_choices %}
                        {% include option.template_name with widget=option %}
                    {% endfor %}
                    {% if group_name %}
                        </optgroup>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    {% endfor %}
</div>
