<div class="list-group">
    <a href="{% url 'page' page_slug=page.page_slug %}" class="list-group-item list-group-item-dark">
        {{ page.name }}
    </a>
    <a href="{% url 'page_dashboard' page_slug=page.page_slug %}" class="list-group-item list-group-item-action{% if request.resolver_match.url_name == 'page_dashboard' %} active{% endif %}">
        Dashboard
    </a>
    <a href="{% url 'page_dashboard_admin' page_slug=page.page_slug %}" class="list-group-item list-group-item-action{% if request.resolver_match.url_name == 'page_dashboard_admin' %} active{% endif %}">
        Admin
    </a>
    <a href="{% url 'page_dashboard_donations' page_slug=page.page_slug %}" class="list-group-item list-group-item-action{% if request.resolver_match.url_name == 'page_dashboard_donations' %} active{% endif %}">
        Donations
    </a>
    <a href="{% url 'page_dashboard_campaigns' page_slug=page.page_slug %}" class="list-group-item list-group-item-action{% if request.resolver_match.url_name == 'page_dashboard_campaigns' %} active{% endif %}">
        Campaigns
    </a>
    <a href="{% url 'page_dashboard_images' page_slug=page.page_slug %}" class="list-group-item list-group-item-action{% if request.resolver_match.url_name == 'page_dashboard_images' %} active{% endif %}">
        Images
    </a>
</div>
