{% extends '_layout.html' %}
{% load static from staticfiles %}
{% load guardian_tags %}
{% load donation_extras %}

{% block title %}Dashboard | {{ block.super }}{% endblock %}

{% block body_content %}

    <div class="row">
        <div class="col-lg-2">
            {% include "page/dashboard_menu.html" %}
        </div>
        <div class="col-lg-10">
            <h1><a href="{% url 'page' page_slug=page.page_slug %}">{{ page.name }}</a></h1>

            {% if request.user.userprofile in page.admins.all or "manager_view_dashboard" in page_perms %}
                <p>Donated to campaigns: {{ donations.campaign_donations|cents_to_dollars }} (Avg: {{ donations.campaign_donations_avg|cents_to_dollars }})</p>

                <h2>Campaign Types</h2>
                <ul>
                    {% for k,v in campaign_types.items %}
                        <li>Type: {{ v.display }}; Count: {{ v.count }}; Donations: {{ v.sum|cents_to_dollars }}</li>
                    {% endfor %}
                </ul>

                <h2>Average Campaign Duration</h2>
                <p>{{ campaign_average_duration }} days</p>

                <h2>Campaign Success Percentage</h2>
                <ul>
                    {% for k,v in campaign_success_pct.items %}
                        <li>Type: {{ v.display }}; Success Pct: {{ v.success_pct }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
