{% extends '_layout.html' %}
{% load static from staticfiles %}
{% load guardian_tags %}
{% load donation_extras %}

{% block title %}Dashboard | {{ block.super }}{% endblock %}

{% block body_content %}

    <div class="row">
        <div class="col-lg-3">
            {% include "page/dashboard_menu.html" %}
        </div>
        <div class="col-lg-9">
            <h1><a href="{% url 'page' page_slug=page.page_slug %}">{{ page.name }}</a></h1>
            {% if request.user.userprofile in page.admins.all or "manager_view_dashboard" in page_perms %}
                <div class="row mt-5 mb-5">
                    <div class="col-lg-3 text-center">
                        <p class="small m-0">Total raised</p>
                        <h2 class="m-0">{{ donations.total_donations|cents_to_dollars }}</h2>
                        <p class="small m-0">Avg: {{ donations.total_donations_avg|cents_to_dollars }}</p>
                    </div>
                    <div class="col-lg-3 text-center">
                        <p class="small m-0">Donated to Page</p>
                        <h2 class="m-0">{{ donations.page_donations|cents_to_dollars }}</h2>
                        <p class="small m-0">Avg: {{ donations.page_donations_avg|cents_to_dollars }}</p>
                    </div>
                    <div class="col-lg-3 text-center">
                        <p class="small m-0">Donated to Campaigns</p>
                        <h2 class="m-0">{{ donations.campaign_donations|cents_to_dollars }}</h2>
                        <p class="small m-0">Avg: {{ donations.campaign_donations_avg|cents_to_dollars }}</p>
                    </div>
                    <div class="col-lg-3 text-center">
                        <p class="small m-0">Recurring donations</p>
                        <h2 class="m-0">{{ donations.plan_donations|cents_to_dollars }}</h2>
                        <p class="small m-0">Avg: {{ donations.plan_donations_avg|cents_to_dollars }}</p>
                    </div>
                </div>

                <section>
                    <canvas id="myChart"></canvas>
                </section>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block body_extra %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>


<script>
var ctx = document.getElementById("myChart").getContext('2d');
var graph_dates = {{ graph_dates|safe }};
var graph_donations = {{ graph_donations|safe }};
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: graph_dates,
        datasets: [{
            data: graph_donations,
            backgroundColor: 'rgba(153, 0, 153, 0.2)',
            hoverBackgroundColor: 'rgba(153, 0, 153, 0.5)',
            borderColor: 'rgba(153, 0, 153, 1)',
            borderWidth: 1
        }]
    },
    options: {
        title: {
            display: true,
            text: 'Donations for past 30 days',
            fontSize: '16',
            padding: '16',
        },
        tooltips: {
            callbacks: {
                label: function(tooltipItems, data) {
                    return '$' + tooltipItems.yLabel.toString();
                }
            },
        },
        legend: {
            display: false
        },
        scales: {
            xAxes: [{
                gridLines: {
                    display: false,
                },
            }],
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                    // Include a dollar sign in the ticks
                    callback: function(value, index, values) {
                        return '$' + value;
                    }
                }
            }]
        }
    }
});
</script>

{% endblock %}
