<div class="list-group mb-5">
    <a href="{% url 'page' page_slug=page.page_slug %}" class="list-group-item list-group-item-dark">
        {{ page.name }}
    </a>
    <a href="" class="list-group-item list-group-item-action active">
        Settings
    </a>
    <a href="#" class="list-group-item list-group-item-action disabled">
        Analytics
    </a>
    <a href="#" class="list-group-item list-group-item-action disabled">
        Donations
    </a>
    <a href="#" class="list-group-item list-group-item-action disabled">
        Campaigns
    </a>
    <a href="#" class="list-group-item list-group-item-action disabled">
        Images
    </a>
</div>
