{% extends '_layout.html' %}
{% load static from staticfiles %}
{% load guardian_tags %}
{% load donation_extras %}

{% block title %} {{ page.name }} | Dashboard | {{ block.super }}{% endblock %}

{% block head_extra %}
    <script src="{% static 'js/comment_csrf.js' %}"></script>
    <script>
        $(document).ready(function() {
            $(".delete-page").click(function () {
                return confirm("Are you sure you want to delete this Page?");
            });
        });
    </script>
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'page' page_slug=page.page_slug %}">{{ page.name }}</a> / Dashboard
{% endblock %}

{% block body_content %}
    <h1>{{ page.name }}</h1>
    {% if request.user.userprofile in page.admins.all %}
        <p><a href="{% url 'page_edit' page_slug=page.page_slug %}">Edit Page</a></p>
        <p><a class="delete-page" href="{% url 'page_delete' page_slug=page.page_slug %}">Delete Page</a></p>
        <p><a href="{% url 'page_invite' page_slug=page.page_slug  %}">Invite others to manage Page</a></p>
        <p><a href="{% url 'page_image_upload' page_slug=page.page_slug %}">Upload and Edit images</a></p>
        {% if page.managers_list %}
            <h5>Managers</h5>
            <form method="POST" action"">
                {% csrf_token %}
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Invite</th>
                        <th>Upload</th>
                        <th>View Dashboard</th>
                        <th></th>
                    </tr>
                {% for manager in page.managers_list %}
                    {% get_obj_perms manager.user for page as "page_perms" %}
                    <tr>
                        <td>{{ manager.user.first_name }} {{ manager.user.last_name }}</td>
                        <td>{{ manager.user.email }}</td>
                        <td><input name="permissions[]" type="checkbox" value="{{ manager.pk }}_manager_edit" {% if 'manager_edit' in page_perms %}checked{% endif %} /></td>
                        <td><input name="permissions[]" type="checkbox" value="{{ manager.pk }}_manager_delete" {% if 'manager_delete' in page_perms %}checked{% endif %} /></td>
                        <td><input name="permissions[]" type="checkbox" value="{{ manager.pk }}_manager_invite" {% if 'manager_invite' in page_perms %}checked{% endif %} /></td>
                        <td><input name="permissions[]" type="checkbox" value="{{ manager.pk }}_manager_image_edit" {% if 'manager_image_edit' in page_perms %}checked{% endif %} /></td>
                        <td><input name="permissions[]" type="checkbox" value="{{ manager.pk }}_manager_view_dashboard" {% if 'manager_view_dashboard' in page_perms %}checked{% endif %} /></td>
                        <td><a href="{% url 'remove_manager' page_slug=page.page_slug manager_pk=manager.pk %}">Remove<a/></td>
                {% endfor %}
                </table>
                <input type="submit" value="Save" />
            </form>
        {% endif %}
    {% else %}
        {% get_obj_perms request.user for page as "page_perms" %}
        {% if "manager_edit" in page_perms %}
            <p><a href="{% url 'page_edit' page_slug=page.page_slug %}">Edit Page</a></p>
        {% endif %}
        {% if "manager_delete" in page_perms %}
            <p><a class="delete-page" href="{% url 'page_delete' page_slug=page.page_slug %}">Delete Page</a></p>
        {% endif %}
        {% if "manager_invite" in page_perms %}
            <p><a href="{% url 'page_invite' page_slug=page.page_slug  %}">Invite others to manage Page</a></p>
        {% endif %}
        {% if "manager_image_edit" in page_perms %}
            <p><a href="{% url 'page_image_upload' page_slug=page.page_slug %}">Upload and Edit images</a></p>
        {% endif %}
    {% endif %}
    <p>Donated to page: {{ donations.page_donations|cents_to_dollars }} (Avg: {{ donations.page_donations_avg|cents_to_dollars }})</p>
    <p>Donated to campaigns: {{ donations.campaign_donations|cents_to_dollars }} (Avg: {{ donations.campaign_donations_avg|cents_to_dollars }})</p>
    <p>Total donated: {{ donations.total_donations|cents_to_dollars }} (Avg: {{ donations.total_donations_avg|cents_to_dollars }})</p>
    <p>Page recurring donations: {{ donations.plan_donations|cents_to_dollars }} (Avg: {{ donations.plan_donations_avg|cents_to_dollars }})</p>
    <h2>Donation Graph</h2>
    <ul>
        {% for k,v in graph.items %}
            <li>Date: {{ k }}, Donations: {{ v|cents_to_dollars }}</li>
        {% endfor %}
    </ul>
    <h2>Donation History</h2>
    <ul>
        {% for d in page.donations %}
            <li>Date: {{ d.date }}; Amount: {% if d.anonymous_amount %}Anonymous{% else %}{{ d.amount|cents_to_dollars }}{% endif %}; Page: {{ d.page }};{% if d.campaign %} Campaign: {{ d.campaign }};{% endif %} User: {% if d.anonymous_donor == True %}Anonymous{% else %}{{ d.user.first_name }} {{ d.user.last_name }}{% endif %}</li>
        {% endfor %}
    </ul>
    <h2>Top Donors</h2>
    <ul>
        {% for a, b in page.top_donors %}
            <li>{{ b.amount|cents_to_dollars }} - {{ b.first_name }} {{ b.last_name }}</li>
        {% endfor %}
    </ul>
    <h2>Trending Scores</h2>
    <p>Page score: {{ page.trending_score }}</p>
    {% if page.active_campaigns %}
        <ul>
            {% for c in page.active_campaigns %}
                <li>{{ c.name }} score: {{ c.trending_score }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
