<h3>Donate</h3>
<form action="{% url 'page_donate' page_pk=page.pk %}" method="post" id="payment-form">
    {% csrf_token %}
    <div class="form-row">
        {{ donate_form.as_p  }}
        {% if cards %}
            <select id="saved_card">
                {% for x, c in cards.items %}
                    <option value={{ c.id }}>{{ c.name }} ({{ c.last4 }})</option>
                {% endfor %}
            </select>
        {% endif %}
        <br />
        <label for="card-element">Credit or debit card</label>
        <div id="card-element"></div>
        <div id="card-errors" role="alert"></div>
    </div>
    <button>Donate</button>
</form>

<script>
    function stripeTokenHandler(token) {
        var form = document.getElementById('payment-form');
        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'stripeToken');
        hiddenInput.setAttribute('value', token.id);
        form.appendChild(hiddenInput);

        form.submit();
    }

    var stripe = Stripe('{{ api_pk }}');
    var elements = stripe.elements();

    var style = {
        base: {
            fontSize: '16px',
            lineHeight: '24px'
        }
    };

    var card = elements.create('card', {style: style});
    card.mount('#card-element');

    card.addEventListener('change', function(event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
            displayError.textContent = event.error.message;
        } else {
            displayError.textContent = '';
        }
    });

    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function(event) {
        event.preventDefault();

        if (document.getElementById("id_anonymous_donor").checked) {
            var extraDetails = {};
        } else {
            var extraDetails = {
                name: "{{ request.user.first_name }} {{ request.user.last_name }}",
            };
        };

        stripe.createToken(card, extraDetails).then(function(result) {
            if (result.error) {
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
            } else {
                stripeTokenHandler(result.token);
            }
        });
    });
</script>

