{% extends '_layout.html' %}
{% load static from staticfiles %}
{% load guardian_tags %}
{% load donation_extras %}

{% block title %} {{ page.name }} | {{ block.super }}{% endblock %}

{% block head_extra %}
    <link href="{% static 'css/lightbox.css' %}" rel="stylesheet">
    <script>
        var model = "page";
        var model_pk = {{ page.pk }};
        var stripe = Stripe('{{ api_pk }}');
    </script>
    <script src="{% static 'js/comment_csrf.js' %}"></script>
    <script src="{% static 'js/donate.js' %}"></script>
{% endblock %}

{% block body_content %}
    <p>Donating to {{ page.name }}.</p>
{% endblock %}

{% block body_extra %}
{% endblock %}
