{% load donation_extras %}


<div class="row align-items-center">
    <div class="col-12 pr-0">
        <h2>{{ page.name }}{% if page.verified == True %} <a class="tooltip-top font-size-15" id="verified" href="#" data-toggle="tooltip" data-placement="right" title="Verified"><i class="fa fa-badge-check" style="color:#33cc99;"></i><span class="sr-only">Verified</span></a>{% endif %}</h2>
    </div>
</div>

<div class="row mt-3 mb-1">
    <div class="col">
        <p class="font-size-125">{{ page.donation_money|cents_to_dollars }} raised by {{ page.unique_donors }} donors</p>
    </div>
</div>

<div class="row mb-3">
    <div class="col-12 mb-3">
        {% if not page.stripe_bank_account_id %}<span class="small">Donations are disabled until this Page adds a bank account.</span>{% endif %}
        <a href="{% url 'page_donate' page_slug=page.page_slug %}" role="button" class="btn btn-purple btn-block btn-lg{% if not page.stripe_bank_account_id %} disabled" aria-disabled="true"{% else %}"{% endif %}>Donate</a>
    </div>
    <div class="col-12">
        <a href="{% url 'campaign_create' page_slug=page.page_slug %}" role="button" class="btn btn-outline-teal btn-block btn-lg">Create Campaign</a>
    </div>
</div>
