{% load static from staticfiles %}
{% load guardian_tags %}


<div class="fa-3x">
    <span class="fa-layers fa-fw" data-toggle="tooltip" title="{{ page.get_type_display }}/{{ page.get_category_display }}">
        <i class="fas fa-circle"></i>
        <i class="fal fa-inverse fa-tag" data-fa-transform="shrink-9"></i>
    </span>

    {% if page.website %}
        <span class="fa-layers fa-fw" data-toggle="tooltip" title="{{ page.website }}">
            <a href="{{ page.website }}" target="_blank" class="page-icon">
                <i class="fas fa-circle"></i>
                <i class="fal fa-inverse fa-desktop" data-fa-transform="shrink-9"></i>
            </a>
        </span>
    {% endif %}

    {% get_obj_perms request.user for page as "page_perms" %}
    {% if request.user.userprofile in page.admins.all or page_perms %}
        <span class="fa-layers fa-fw" data-toggle="tooltip" title="Page settings">
            <a href="{% url 'page_dashboard_admin' page_slug=page.page_slug %}" class="page-icon">
                <i class="fas fa-circle"></i>
                <i class="fal fa-inverse fa-cog" data-fa-transform="shrink-9"></i>
            </a>
        </span>
    
        <span class="fa-layers fa-fw" data-toggle="tooltip" title="Page analytics">
            <a href="{% url 'page_dashboard_analytics' page_slug=page.page_slug %}" class="page-icon">
                <i class="fas fa-circle"></i>
                <i class="fal fa-inverse fa-chart-bar" data-fa-transform="shrink-9"></i>
            </a>
        </span>
    {% endif %}


    {% if request.user.is_authenticated %}
        {% if request.user.userprofile not in page.admins.all and page_perms|length == 0 %}
            {% if subscribed is False %}
                <span class="fa-layers fa-fw" data-toggle="tooltip" title="Subscribe">
                    <a href="{% url 'subscribe' page_pk=page.pk %}" class="page-icon">
                        <i class="fas fa-circle"></i>
                        <i class="fal fa-inverse fa-check" data-fa-transform="shrink-9"></i>
                    </a>
                </span>
            {% else %}
                <span class="fa-layers fa-fw" data-toggle="tooltip" title="Unsubscribe">
                    <a href="{% url 'subscribe' page_pk=page.pk %}" class="page-icon">
                        <i class="fas fa-circle"></i>
                        <i class="fal fa-inverse fa-times" data-fa-transform="shrink-9"></i>
                    </a>
                </span>
            {% endif %}
        {% endif %}
    {% else %}
        <span class="fa-layers fa-fw" data-toggle="tooltip" title="Subscribe">
            <a href="{% url 'subscribe' page_pk=page.pk %}" class="page-icon">
                <i class="fas fa-circle"></i>
                <i class="fal fa-inverse fa-check" data-fa-transform="shrink-9"></i>
            </a>
        </span>
    {% endif %}


    <span class="fa-layers fa-fw" data-toggle="tooltip" title="Share on Facebook">
        <a href="" id="share-facebook" class="facebook-svg">
            <i class="fas fa-circle"></i>
            <i class="fab fa-inverse fa-facebook-f" data-fa-transform="shrink-9"></i>
        </a>
    </span>

    <span class="fa-layers fa-fw" data-toggle="tooltip" title="Share on Twitter">
        <a href="https://twitter.com/intent/tweet?hashtags=raiseextra&url={{ request.build_absolute_uri }}&text=Help%20{{ page.name }}%20raise%20extra!" id="share-twitter" class="twitter-svg">
            <i class="fas fa-circle"></i>
            <i class="fab fa-inverse fa-twitter" data-fa-transform="shrink-9"></i>
        </a>
    </span>
</div>

{% block body_extra %}
    <script>
        window.fbAsyncInit=function(){FB.init({appId:'128825374510028',autoLogAppEvents:!0,xfbml:!0,version:'v2.12'})};(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src='https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=128825374510028&autoLogAppEvents=1';fjs.parentNode.insertBefore(js,fjs)}(document,'script','facebook-jssdk'));$("#share-facebook").click(function(event){event.preventDefault();FB.ui({method:'share',href:'{{ request.build_absolute_uri }}',},function(response){})});window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return t;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f)};return t}(document,"script","twitter-wjs"))
    </script>
{% endblock %}