{% extends '_layout.html' %}
{% load static from staticfiles %}
{% load widget_tweaks %}

{% block meta %}
    <meta name="description" content="Pages are fixed locations for anyone that is looking to raise extra funds for their cause. Use a Page to tell a story to the world, solicit direct donations, and post pictures, all in one place.">
{% endblock %}

{% block title %}Create | {{ block.super }}{% endblock %}

{% block body_content %}
    <div class="row">
        <div class="col-12 mt-4 mb-3">
            <div class="row">
                <div class="col-lg-auto">
                    <h1>Create a Page</h1>
                </div>
                <div class="col-lg-auto align-self-center">
                    <img src="{% static 'img/powered_by_stripe_sd.svg' %}">
                </div>
            </div>
            {% include "page/page_create_progress.html" %}
        </div>
    </div>

    <div class="row pb-5">
        <div class="col-8">

            {{ wizard.form.media }}

            <form id="create-form" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ wizard.management_form }}

                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}

                <div class="form-row">
                    <div class="form-group col-lg-3">
                        <label for="{{ form.ssn.id_for_label }}">
                            Last 4 digits of your SSN
                        </label>
                        {% render_field form.ssn class+="form-control" autocomplete="off" %}
                        {% if form.ssn.errors %}
                            {% for error in form.ssn.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-4">
                        <label for="{{ form.account_number.id_for_label }}">
                           Bank account number
                        </label>
                        {% render_field form.account_number class+="form-control" autocomplete="off" %}
                        {% if form.account_number.errors %}
                            {% for error in form.account_number.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-4">
                        <label for="{{ form.routing_number.id_for_label }}">
                            Bank routing number
                        </label>
                        {% render_field form.routing_number class+="form-control" autocomplete="off" %}
                        {% if form.routing_number.errors %}
                            {% for error in form.routing_number.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <hr>
                <button id="form-input" class="mb-3 btn btn-purple" type="submit">Create</button>
                <button id="prev" class="mb-3 btn btn-outline-secondary" name="wizard_goto_step" value="{{ wizard.steps.prev }}">Back</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block body_extra %}
    <script src="{% static 'js/formwizard.js' %}"></script>
{% endblock %}
