{% load donation_extras %}
{% load humanize %}
{% load staticfiles %}


<div class="row mb-3">
    <div class="col-md-auto">
        <h2>Active Campaigns</h2>
    </div>
    <div class="col d-flex align-items-center h100">
        <a href="" role="button" class="btn btn-outline-purple">
            See all
        </a>
    </div>
</div>

{% for c in page.active_campaigns %}
    <div class="row mb-3">
        <div class="col-md-auto comment-profile-picture-container">
            {% if c.profile_picture %}
                <img class="comment-profile-picture" src="{{ c.profile_picture.image.url }}" />
            {% else %}
                <img class="comment-profile-picture" src="{% static 'img/campaign_default.svg' %}" />
            {% endif %}
        </div>
        <div class="col">
            <div class="row pt-2">
                <div class="col-md-auto">
                    <a href="{% url 'campaign' page_slug=page.page_slug campaign_pk=c.pk campaign_slug=c.campaign_slug %}">{{ c.name }}</a>
                </div>
                <div class="col-md-auto">
                    <span class="comment-date small"><i class="fal fa-clock"></i> ends {{ c.end_date|naturaltime }}<span>
                </div>
                <div class="col-md-5 ml-auto">
                    <div class="progress">
                        <div {% if c.donation_money|progress_value < c.goal%}class="progress-bar-gray"{% else %}class="progress-bar-teal"{% endif%} role="progressbar" style="width: {{ c|progress_width }}%" aria-valuenow="{{ c.donation_money|progress_value }}" aria-valuemin="0" aria-valuemax="{{ c.goal }}"></div>
                    </div>
                    <span class="small d-block text-right">{{ c.donation_money|cents_to_dollars }} of ${{ c.goal }} goal</span>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
