<div class="fa-3x">
    <span class="fa-layers fa-fw">
        <i class="fas fa-circle"></i>
        <i class="fal fa-inverse fa-briefcase" data-fa-transform="shrink-9"></i>
    </span>

    <span class="fa-layers fa-fw">
        <i class="fas fa-circle"></i>
        <i class="fal fa-inverse fa-tag" data-fa-transform="shrink-9"></i>
    </span>

    <span class="fa-layers fa-fw">
        <i class="fas fa-circle"></i>
        <i class="fal fa-inverse fa-desktop" data-fa-transform="shrink-9"></i>
    </span>

    <span class="fa-layers fa-fw">
        <i class="fas fa-circle"></i>
        <i class="fal fa-inverse fa-cog" data-fa-transform="shrink-9"></i>
    </span>

    <span class="fa-layers fa-fw">
        <i class="fas fa-circle"></i>
        <i class="fal fa-inverse fa-chart-bar" data-fa-transform="shrink-9"></i>
    </span>
</div>