{% extends '_layout.html' %}

{% block meta %}
    <meta name="description" content="{{ page.description|truncatechars:300 }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@pagefundinc">
    <meta name="twitter:creator" content="@pagefundinc">
    <meta name="twitter:title" content="PageFund">
    <meta name="twitter:description" content="{{ page.description|truncatechars:300 }}">
    <meta name="twitter:image" content="{% include 'snippets/og_image.txt' %}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ page.name }} | PageFund" />
    <meta property="og:description" content="{{ page.description|truncatechars:300 }}" />
    <meta property="og:image" content="{% include 'snippets/og_image.txt' %}" />
{% endblock %}

{% block title %}{{ page.name }} | {{ block.super }}{% endblock %}

{% block body_content %}
    <div class="row justify-content-center">
        <div class="col-6 text-center">
            <p>This Page is still waiting to clear our payment processor's verification process. We receive updates on this process every hour. We'll show this Page to the public as soon as our payment processor has verified the account details for this Page. Please check back later to see if this Page has been verified.</p>
            <p>If you have any questions or feel this is a mistake, please <a href="mailto:help@page.fund">email us</a>.</p>
        </div>
    </div>
{% endblock %}