{% extends '_layout.html' %}
{% load static from staticfiles %}
{% load guardian_tags %}
{% load donation_extras %}

{% block meta %}
    <meta name="description" content="{{ page.description|truncatechars:300 }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@pagefundinc">
    <meta name="twitter:creator" content="@pagefundinc">
    <meta name="twitter:title" content="PageFund">
    <meta name="twitter:description" content="{{ page.description|truncatechars:300 }}">
    <meta name="twitter:image" content="{% include 'snippets/og_image.txt' %}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ page.name }} | PageFund" />
    <meta property="og:description" content="{{ page.description|truncatechars:300 }}" />
    <meta property="og:image" content="{% include 'snippets/og_image.txt' %}" />
{% endblock %}

{% block title %} {{ page.name }} | {{ block.super }}{% endblock %}

{% block head_extra %}
    <link href="{% static 'css/lightbox.css' %}" rel="stylesheet">

    <style>
        a.page-icon{color:#212529}
    </style>

    <script>
        $(document).on('click', '#verified', function(event) {
            event.preventDefault();
        });
        $(document).on('click', '#top_donors_info', function(event) {
            event.preventDefault();
        });
    </script>
{% endblock %}

{% block body_content %}
    {% include "messages.html" %}

    <div class="row mb-5">
        <div class="col-lg-7 text-center">
            {% include "page/page_image.html" %}
        </div>
        <div class="col-lg-5 page-info">

            {% include "page/page_actions.html" %}

            <div class="row">
                <div class="col-lg-12 text-center">
                    {% include "page/page_icons.html" %}
                </div>
            </div>

        </div>
    </div>
    {% if page.description %}
        <div class="row mb-5">
            <div class="col">
                {% include "page/page_about.html" %}
            </div>
        </div>
    {% endif %}
    <div class="row mb-5">
        <div class="col-lg-12">
            {% include "page/page_campaigns.html" %}
        </div>
    </div>

    <div class="row justify-content-between mb-5">
        <div class="col-lg-8">
            {% include "page/page_donations.html" %}
        </div>
        <div class="col-lg-4">
            {% include "page/page_top_donors.html" %}
        </div>
    </div>
    <div class="row justify-content-center mb-5">
        <div class="col">
            {% include "comments/comments.html" with obj=page %}
        </div>
    </div>
{% endblock %}

{% block body_extra %}
    <script>
        var model = "page";
        var model_pk = {{ page.pk }};
    </script>
    <script src="{% static 'js/comment_csrf.js' %}"></script>
    <script src="{% static 'js/subscribe.js' %}"></script>
    <script src="{% static 'js/lightbox.js' %}"></script>
    <script src="{% static 'js/tooltip_icons.js' %}"></script>
{% endblock %}
