{% extends '_layout.html' %}
{% load static from staticfiles %}
{% load widget_tweaks %}

{% block meta %}
    <meta name="description" content="Pages are fixed locations for anyone that is looking to raise extra funds for their cause. Use a Page to tell a story to the world, solicit direct donations, and post pictures, all in one place.">
{% endblock %}

{% block title %}Create | {{ block.super }}{% endblock %}

{% block body_content %}
    <div class="row">
        <div class="col-12 mt-4 mb-3">
            <h1>Create a Page</h1>
            <hr>
        </div>
    </div>

    <div class="row pb-5">
        <div class="col-12">

            {{ wizard.form.media }}

            <form id="create-form" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ wizard.management_form }}

                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}

                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="{{ form.ssn.id_for_label }}">
                                    Last 4 digits of your SSN
                                </label>
                                {% render_field form.ssn class+="form-control" %}
                                {% if form.ssn.errors %}
                                    {% for error in form.ssn.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ error|escape }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="{{ form.account_number.id_for_label }}">
                                   Bank account number
                                </label>
                                {% render_field form.account_number class+="form-control" %}
                                {% if form.account_number.errors %}
                                    {% for error in form.account_number.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ error|escape }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="{{ form.routing_number.id_for_label }}">
                                    Bank routing number
                                </label>
                                {% render_field form.routing_number class+="form-control" %}
                                {% if form.routing_number.errors %}
                                    {% for error in form.routing_number.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ error|escape }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                <input id="form-input" class="btn btn-purple" type="submit" value="Continue" />
            </form>
        </div>
    </div>
{% endblock %}