{% extends '_layout.html' %}
{% load static from staticfiles %}
{% load guardian_tags %}
{% load donation_extras %}

{% block title %} {{ page.name }} | {{ block.super }}{% endblock %}

{% block head_extra %}
    <link href="{% static 'css/lightbox.css' %}" rel="stylesheet">
    <script>
        var model = "page";
        var model_pk = {{ page.pk }};
    </script>
    <script src="{% static 'js/comment_csrf.js' %}"></script>
    <script src="{% static 'js/comment.js' %}"></script>
    <script src="{% static 'js/subscribe.js' %}"></script>
    <script src="{% static 'js/vote.js' %}"></script>
    <script>
        $(document).ready(function() {
            $(".delete-page").click(function () {
                return confirm("Are you sure you want to delete this Page?");
            });
        });
    </script>

{% endblock %}

{% block body_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <a href="{{ page.profile_picture.image.url }}" data-lightbox="profile-picture">
                    <img src="{{ page.profile_picture.image.url }}" class="img-fluid img-thumbnail" />
                </a>
            </div>
            <div class="col-md-5 page-info">
                <h1>{{ page.name }}</h1>
                <div class="row mt-3 mb-1">
                    <div class="col">
                        <h5>{{ page.donation_money|cents_to_dollars }} raised by {{ page.unique_donors }} donors</h5>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12 mb-3">
                        <button type="button" class="btn btn-purple btn-block btn-lg">Donate</button>
                    </div>
                    <div class="col-12">
                        <a href="{% url 'campaign_create' page_slug=page.page_slug %}" role="button" class="btn btn-outline-teal btn-block btn-lg">Create campaign</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <p><i class="fal fa-compass"></i> {% if page.city %}{{ page.city }}{% endif %}{% if page.city and page.state %}, {% endif %}{% if page.state %}{{ page.state }}{% endif %}</p>
                    </div>
                    <div class="col-6">
                        <p><i class="fal fa-briefcase"></i> {{ page.get_type_display }}</p>
                    </div>
                    <div class="col-6">
                        <p><i class="fal fa-desktop"></i> {{ page.website }}</p>
                    </div>
                    <div class="col-6">
                        <p><i class="fal fa-tag"></i> {{ page.get_category_display }}</p>
                    </div>
                </div>

                {% if request.user.userprofile in page.admins.all or page_perms %}
                    <p><a href="{% url 'page_dashboard' page_slug=page.page_slug %}">Dashboard</a></p>
                {% endif %}
                {% if request.user.is_authenticated %}
                    {% get_obj_perms request.user for page as "page_perms" %}
                    {% if request.user.userprofile not in page.admins.all and page_perms|length == 0 %}
                        <button id="subscribe" name="{{ subscribe_attr.name }}" style="background-color:{{ subscribe_attr.color }}">{{ subscribe_attr.value  }}</button>
                    {% endif %}
                {% else %}
                    <button onclick="location.href='{% url 'login' %}?next=/page/subscribe/{{ page.pk }}/subscribe/'" style="background-color:green">Subscribe</button>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>About</h2>
                {{ page.description|linebreaks }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Campaigns</h3>
                <ul>
                    {% for campaign in page.active_campaigns %}
                        <li><a href="{% url 'campaign' page_slug=page.page_slug campaign_pk=campaign.pk campaign_slug=campaign.campaign_slug %}">{{ campaign.name }}</a> ({{ campaign.donation_money|cents_to_dollars }} of ${{ campaign.goal }} goal)</li>
                    {% endfor %}
                </ul>
                <p><a href="">See all active Campaigns</a></p>
                <p><a href="">See past Campaigns</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg">
                <h2>Donations</h2>
                <ul>
                    {% for d in page.donations_recent %}
                        <li>{% if d.anonymous_amount and d.anonymous_donor %}Anonymous donation{% endif %}{% if not d.anonymous_amount %}{{ d.amount|cents_to_dollars }}{% endif %}{% if not d.anonymous_amount and not d.anonymous_donor %} - {% endif %}{% if not d.anonymous_donor %}{% if d.user %}{{ d.user.first_name }} {{ d.user.last_name }}{% else %}{{ d.donor_first_name }} {{ d.donor_last_name }}{% endif %}{% endif %} @ {{ d.date }}{% if d.campaign %} via <a href="{% url 'campaign' page_slug=page.page_slug campaign_pk=d.campaign.pk campaign_slug=d.campaign.campaign_slug %}">{{ d.campaign.name }}</a>{% endif %}
                            {% if d.comment %}
                                <ul>
                                    <li>{{ d.comment }}</li>
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                <p><a href="">See all donations</a></p>
            </div>
            <div class="col-lg">
                <h2>Top Donors</h2>
                <ul>
                    {% for a, b in page.top_donors %}
                        <li>{{ b.amount|cents_to_dollars }} - {{ b.first_name }} {{ b.last_name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    {% include "comments/comments.html" with model="page" obj=page %}

    {% if request.user.is_authenticated %}
        {% include "donation/donate.html" with page=page donate_form=donate_form api_key=api_key%}
    {% else %}
        {% include "donation/donate_unauthenticated.html" with page=page donate_form=donate_form api_key=api_key%}
    {% endif %}

{% endblock %}

{% block body_extra %}
    <script src="{% static 'js/lightbox.js' %}"></script>
{% endblock %}
