{% extends '_layout.html' %}
{% load static from staticfiles %}
{% load widget_tweaks %}

{% block meta %}
    <meta name="description" content="Pages are fixed locations for anyone that is looking to raise extra funds for their cause. Use a Page to tell a story to the world, solicit direct donations, and post pictures, all in one place.">
{% endblock %}

{% block title %}Create | {{ block.super }}{% endblock %}

{% block body_content %}
    <div class="row pb-5">
        <div class="col-10 offset-2 mb-4">
            <h1>Create a Page</h1>
            <p>All fields are required unless stated otherwise.</p>
        </div>
        <div class="col-12">

            {{ wizard.form.media }}

            <form id="create-form" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ wizard.management_form }}


                <div class="row">
                    <div class="col-lg-6">
                    </div>
                    <div class="col-lg-6">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                    </div>
                </div>





                {% if wizard.form.forms %}
                    {{ wizard.form.management_form }}
                    {% for form in wizard.form.forms %}
                        {{ form }}
                    {% endfor %}
                {% else %}
                    {{ wizard.form }}
                {% endif %}

                <input id="form-input" type="submit" value="Continue" />
            </form>
        </div>
    </div>
{% endblock %}
