{% extends '_layout.html' %}
{% load static from staticfiles %}
{% load widget_tweaks %}


{% block title %}Edit | {{ block.super }}{% endblock %}

{% block body_content %}
    <div class="row">
        <div class="col-lg-3">
            {% include "page/dashboard_menu.html" %}
        </div>
        <div class="col-lg-9">
            <h2>Edit Page Bank Information</h2>
            <hr>
            <p>This will delete your existing bank account and create a new one.</p>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}

                <div class="form-group row">
                    <label for="{{ form.account_number.id_for_label }}" class="col-md-4 col-form-label">
                        Account number
                    </label>
                    <div class="col-md-8">
                        {% render_field form.account_number class+="form-control" aria-describedby="account_number-help"%}
                        <small id="account_number-help" class="form-text text-muted">
                            The bank account number (example: 000123456789).
                        </small>
                    </div>
                    {% if form.account_number.errors %}
                        <div class="col-md-8 offset-md-4 mt-1 mb-4">
                            {% for error in form.account_number.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="form-group row">
                    <label for="{{ form.routing_number.id_for_label }}" class="col-md-4 col-form-label">
                        Routing number
                    </label>
                    <div class="col-md-8">
                        {% render_field form.routing_number class+="form-control" aria-describedby="routing_number-help"%}
                        <small id="routing_number-help" class="form-text text-muted">
                            The bank routing number (example: 110000000).
                        </small>
                    </div>
                    {% if form.routing_number.errors %}
                        <div class="col-md-8 offset-md-4 mt-1 mb-4">
                            {% for error in form.routing_number.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="form-group row">
                    <label for="{{ form.account_holder_first_name.id_for_label }}" class="col-md-4 col-form-label">
                        Account holder's first name
                    </label>
                    <div class="col-md-8">
                        {% render_field form.account_holder_first_name class+="form-control" aria-describedby="account_holder_first_name-help"%}
                        <small id="account_holder_first_name-help" class="form-text text-muted">
                            This is the first name of the owner of the bank account that will receive funds.
                        </small>
                    </div>
                    {% if form.account_holder_first_name.errors %}
                        <div class="col-md-8 offset-md-4 mt-1 mb-4">
                            {% for error in form.account_holder_first_name.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="form-group row">
                    <label for="{{ form.account_holder_last_name.id_for_label }}" class="col-md-4 col-form-label">
                        Account holder's last name
                    </label>
                    <div class="col-md-8">
                        {% render_field form.account_holder_last_name class+="form-control" aria-describedby="account_holder_last_name-help"%}
                        <small id="account_holder_last_name-help" class="form-text text-muted">
                            This is the last name of the owner of the bank account that will receive funds.
                        </small>
                    </div>
                    {% if form.account_holder_last_name.errors %}
                        <div class="col-md-8 offset-md-4 mt-1 mb-4">
                            {% for error in form.account_holder_last_name.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <input class="offset-md-4 btn btn-purple mt-3" type="submit" value="Update Page" />
            </form>
        </div>
    </div>
{% endblock %}
