<div class="row mb-3">
    <div class="col-md-auto">
        <h2>Active Campaigns</h2>
    </div>
    <div class="col d-flex align-items-center h100">
        <a href="{% url 'page_campaigns' page_slug=page.page_slug %}" role="button" class="btn btn-outline-purple">
            See all
        </a>
    </div>
</div>

{% if page.active_campaigns %}
    {% for c in page.active_campaigns %}
        {% include "page/_campaigns.html" %}
    {% endfor %}
{% else %}
    <p>There are no active Campaigns.</p>
{% endif %}
