{% extends '_layout.html' %}
{% load static from staticfiles %}
{% load widget_tweaks %}


{% block title %}Edit | {{ block.super }}{% endblock %}

{% block body_content %}
    <div class="row pb-5">
        <div class="col-lg-3">
            {% include "page/dashboard_menu.html" %}
        </div>
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-auto">
                    <h2>Edit Page Bank Information</h2>
                </div>
                <div class="col-lg-auto align-self-center">
                    <img src="{% static 'img/powered_by_stripe_sd.svg' %}">
                </div>
            </div>
            <hr class="mt-2">

            <div class="alert alert-info" role="alert">
                <i class="fas fa-fw fa-info-circle"></i> Payouts to your bank account occur every <span class="font-weight-bold">Monday</span>.
            </div>

            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}

                <div class="form-group row">
                    <label for="{{ form.account_number.id_for_label }}" class="col-md-4 col-form-label">
                        Account number
                    </label>
                    <div class="col-md-6">
                        {% render_field form.account_number class+="form-control" aria-describedby="account_number-help"%}
                        <small id="account_number-help" class="form-text text-muted">
                            The bank account number (example: 000123456789).
                        </small>
                    </div>
                    {% if form.account_number.errors %}
                        <div class="col-md-8 offset-md-4 mt-1 mb-4">
                            {% for error in form.account_number.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="form-group row">
                    <label for="{{ form.routing_number.id_for_label }}" class="col-md-4 col-form-label">
                        Routing number
                    </label>
                    <div class="col-md-6">
                        {% render_field form.routing_number class+="form-control" aria-describedby="routing_number-help"%}
                        <small id="routing_number-help" class="form-text text-muted">
                            The bank routing number (example: 110000000).
                        </small>
                    </div>
                    {% if form.routing_number.errors %}
                        <div class="col-md-8 offset-md-4 mt-1 mb-4">
                            {% for error in form.routing_number.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                {% if page.type == 'nonprofit' %}
                    <div id="ein-row" class="form-group row">
                        <label for="{{ form.ein.id_for_label }}" class="col-md-4 col-form-label">
                            EIN
                        </label>
                        <div class="col-md-6">
                            {% render_field form.ein class+="form-control" aria-describedby="ein-help" %}
                            <small id="ein-help" class="form-text text-muted">
                                This is your Employer Identification Number (EIN), also known as a Federal Tax Identification Number.
                            </small>
                        </div>
                        {% if form.ein.errors %}
                            <div class="col-md-8 offset-md-4 mt-1 mb-4">
                                {% for error in form.ein.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ error|escape }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}

                <div class="form-group row">
                    <label for="{{ form.ssn.id_for_label }}" class="col-md-4 col-form-label">
                        Last 4 of SSN
                    </label>
                    <div class="col-md-6">
                        {% render_field form.ssn class+="form-control" aria-describedby="ssn-help"%}
                        <small id="ssn-help" class="form-text text-muted">
                            Last 4 digits of the account owner's Social Security Number (SSN).
                        </small>
                    </div>
                    {% if form.ssn.errors %}
                        <div class="col-md-8 offset-md-4 mt-1 mb-4">
                            {% for error in form.ssn.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <input class="offset-md-4 btn btn-purple mt-3" type="submit" value="Update Page" />
            </form>
        </div>
    </div>
{% endblock %}
