{% load staticfiles %}


{% if page.profile_picture %}
    <a href="{{ page.profile_picture.image.url }}" data-lightbox="profile-picture">
        <img src="{{ page.profile_picture.image.url }}" class="img-fluid img-thumbnail" />
    </a>
{% else %}
    <a href="{% static 'img/page_default.svg' %}" data-lightbox="profile-picture">
        <img src="{% static 'img/page_default.svg' %}" class="img-fluid img-thumbnail" />
    </a>
{% endif %}


<div hidden>
    {% for image in page.images %}
        {% if not image.profile_picture %}
            <a href="{{ image.image.url }}" data-lightbox="profile-picture">
                <img src="{{ image.image.url }}" class="img-fluid img-thumbnail" />
            </a>
        {% endif %}
    {% endfor %}
</div>
