{% extends '_layout.html' %}
{% load static from staticfiles %}
{% load guardian_tags %}
{% load donation_extras %}

{% block title %} {{ page.name }} | {{ block.super }}{% endblock %}

{% block head_extra %}
    <link href="{% static 'css/lightbox.css' %}" rel="stylesheet">
    <script src="{% static 'js/comment_csrf.js' %}"></script>
{% endblock %}

{% block body_content %}
    {% if request.user.is_authenticated %}
        {% include "donation/donate.html" with page=page donate_form=donate_form api_key=api_key %}
    {% else %}
        {% include "donation/donate_unauthenticated.html" with page=page donate_form=donate_form api_key=api_key %}
    {% endif %}
{% endblock %}

{% block body_extra %}
{% endblock %}
