{% extends '_layout.html' %}
{% load static from staticfiles %}
{% load widget_tweaks %}


{% block title %}Create | {{ block.super }}{% endblock %}

{% block head_extra %}
    <script src="{% static 'js/ein.js' %}"></script>
{% endblock %}

{% block body_content %}
    <div class="row">
        <div class="col-10 offset-2 mb-4">
            <h1>Create a Page</h1>
            <p>We're going to gather some basic information about your Page.</p>
        </div>
        <div class="col-12">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.non_field_errors }}

            <div class="form-group row">
                <label for="{{ form.name.id_for_label }}" class="col-sm-2 col-form-label">
                    Page name
                </label>
                <div class="col-sm-10">
                    {% render_field form.name class+="form-control" aria-describedby="name-help"%}
                    <small id="name-help" class="form-text text-muted">
                        This is how your name will be displayed on PageFund.
                    </small>
                </div>
                {% if form.name.errors %}
                    <div class="col-sm-10 offset-sm-2 mt-1 mb-4">
                        {% for error in form.name.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error|escape }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="row mb-3">
                <label for="{{ form.page_slug.id_for_label }}" class="col-sm-2 col-form-label">
                    Vanity URL
                </label>
                <div class="input-group col-sm-10">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            https://page.fund/
                        </span>
                    </div>
                    {% render_field form.page_slug class+="form-control" aria-describedby="page_slug-help"%}
                </div>
                <div class="col-sm-10 offset-sm-2">
                    <small id="page_slug-help" class="form-text text-muted">
                        Choose what your URL will look like.
                    </small>
                </div>
                {% if form.page_slug.errors %}
                    <div class="col-sm-10 offset-sm-2 mt-1 mb-4">
                        {% for error in form.page_slug.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error|escape }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-group row">
                <label for="{{ form.website.id_for_label }}" class="col-sm-2 col-form-label">
                    Your website
                </label>
                <div class="col-sm-10">
                   {% render_field form.website class+="form-control" aria-describedby="website-help" %}
                    <small id="website-help" class="form-text text-muted">
                        What is your personal website?
                    </small>
                </div>
                {% if form.website.errors %}
                    <div class="col-sm-10 offset-sm-2 mt-1 mb-4">
                        {% for error in form.website.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error|escape }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <hr>

            <div class="form-group row">
                <label for="{{ form.address_line1.id_for_label }}" class="col-sm-2 col-form-label">
                    Address
                </label>
                <div class="col-sm-10">
                   {% render_field form.address_line1 class+="form-control" aria-describedby="address_line1-help" %}
                    <small id="address_line1-help" class="form-text text-muted">
                        Where are you located?
                    </small>
                </div>
                {% if form.address_line1.errors %}
                    <div class="col-sm-10 offset-sm-2 mt-1 mb-4">
                        {% for error in form.address_line1.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error|escape }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-group row">
                <label for="{{ form.address_line2.id_for_label }}" class="col-sm-2 col-form-label">
                    Address (continued)
                </label>
                <div class="col-sm-10">
                   {% render_field form.address_line2 class+="form-control" aria-describedby="address_line2-help" %}
                    <small id="address_line2-help" class="form-text text-muted">
                        Apartment, suite, floor, etc.
                    </small>
                </div>
                {% if form.address_line2.errors %}
                    <div class="col-sm-10 offset-sm-2 mt-1 mb-4">
                        {% for error in form.address_line2.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error|escape }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-group row">
                <label for="{{ form.city.id_for_label }}" class="col-sm-2 col-form-label">
                    City
                </label>
                <div class="col-sm-10">
                   {% render_field form.city class+="form-control" %}
                </div>
                {% if form.city.errors %}
                    <div class="col-sm-10 offset-sm-2 mt-1 mb-4">
                        {% for error in form.city.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error|escape }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-group row">
                <label for="{{ form.state.id_for_label }}" class="col-sm-2 col-form-label">
                    State
                </label>
                <div class="col-sm-10">
                   {% render_field form.state class+="form-control" %}
                </div>
                {% if form.state.errors %}
                    <div class="col-sm-10 offset-sm-2 mt-1 mb-4">
                        {% for error in form.state.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error|escape }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-group row">
                <label for="{{ form.zipcode.id_for_label }}" class="col-sm-2 col-form-label">
                    ZIP code
                </label>
                <div class="col-sm-10">
                   {% render_field form.zipcode class+="form-control" %}
                </div>
                {% if form.zipcode.errors %}
                    <div class="col-sm-10 offset-sm-2 mt-1 mb-4">
                        {% for error in form.zipcode.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error|escape }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <hr>

            <div class="form-group row">
                <label for="{{ form.type.id_for_label }}" class="col-sm-2 col-form-label">
                    Type
                </label>
                <div class="col-sm-10">
                   {% render_field form.type class+="form-control" aria-describedby="type-help" %}
                    <small id="type-help" class="form-text text-muted">
                        What type of Page is this? Note that only nonprofits require an EIN.
                    </small>
                </div>
                {% if form.type.errors %}
                    <div class="col-sm-10 offset-sm-2 mt-1 mb-4">
                        {% for error in form.type.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error|escape }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div id="ein-row" class="form-group row">
                <label for="{{ form.ein.id_for_label }}" class="col-sm-2 col-form-label">
                    EIN
                </label>
                <div class="col-sm-10">
                   {% render_field form.ein class+="form-control" aria-describedby="ein-help" %}
                    <small id="ein-help" class="form-text text-muted">
                        This is your Employer Identification Number (EIN), also known as a Federal Tax Identification Number.
                    </small>
                </div>
                {% if form.ein.errors %}
                    <div class="col-sm-10 offset-sm-2 mt-1 mb-4">
                        {% for error in form.ein.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error|escape }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-group row">
                <label for="{{ form.category.id_for_label }}" class="col-sm-2 col-form-label">
                    Category
                </label>
                <div class="col-sm-10">
                   {% render_field form.category class+="form-control" aria-describedby="category-help"%}
                    <small id="category-help" class="form-text text-muted">
                        Which category does your Page fit into?
                    </small>
                </div>
                {% if form.category.errors %}
                    <div class="col-sm-10 offset-sm-2 mt-1 mb-4">
                        {% for error in form.category.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error|escape }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-group row">
                <label for="{{ form.description.id_for_label }}" class="col-sm-2 col-form-label">
                    Description
                </label>
                <div class="col-sm-10">
                   {% render_field form.description class+="form-control" aria-describedby="description-help"%}
                    <small id="description-help" class="form-text text-muted">
                        Tell us all about your Page! This will be seen by the public.
                    </small>
                </div>
                {% if form.description.errors %}
                    <div class="col-sm-10 offset-sm-2 mt-1 mb-4">
                        {% for error in form.description.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error|escape }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <hr>

            <div class="form-group row">
                <div class="col-sm-2">Terms of Service</div>
                <div class="col-sm-10">
                    <div class="form-check">
                       {% render_field form.tos_accepted class+="form-check-input" %}
                        <label class="form-check-label" for="{{ form.tos_accepted.id_for_label }}">
                            Please check this box to agree to our <a href="/terms-of-service/">Terms of Service</a>.
                        </label>
                    </div>
                </div>
                {% if form.tos_accepted.errors %}
                    <div class="col-sm-10 offset-sm-2 mt-1 mb-4">
                        {% for error in form.tos_accepted.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error|escape }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <input class="offset-sm-2 btn btn-purple mt-3" type="submit" value="Continue" />
        </form>
        </div>
    </div>
{% endblock %}
