{% load donation_extras %}


<h1>{{ page.name }}</h1>

<div class="row mt-3 mb-1">
    <div class="col">
        <h5 style="font-weight: normal;">{{ page.donation_money|cents_to_dollars }} raised by {{ page.unique_donors }} donors</h5>
    </div>
</div>

<div class="row mb-3">
    <div class="col-12 mb-3">
        <a href="{% url 'page_donate' page_slug=page.page_slug %}" role="button" class="btn btn-purple btn-block btn-lg">Donate</a>
    </div>
    <div class="col-12">
        <a href="{% url 'campaign_create' page_slug=page.page_slug %}" role="button" class="btn btn-outline-teal btn-block btn-lg">Create campaign</a>
    </div>
</div>
