{% load humanize %}
{% load staticfiles %}
{% load donation_extras %}
{% load lib_extras %}


<div class="row mb-3">
    <div class="col-md-auto">
        <h2>Donations</h2>
    </div>
    <div class="col d-flex align-items-center h100">
        <a href="{% url 'page_donations' page_slug=page.page_slug %}" role="button" class="btn btn-outline-purple">
            See all
        </a>
    </div>
</div>

{% if page.donations_recent %}
    {% for d in page.donations_recent %}
        {% include "page/_donations.html" %}
    {% endfor %}
{% else %}
    <p>There aren't any recent donations.</p>
{% endif %}
