<div class="container">
<h3>Donate</h3>
{% if stripe_error %}
    <p>We're having trouble communicating with our payment processor. This error generated an email and sent it to our dev team. We're looking into the issue now, thanks!</p>
{% else %}
    {% if page %}
        <form action="{% url 'page_donate' page_slug=page.page_slug %}" method="post" id="payment-form">
    {% elif campaign %}
        {% if campaign.type == "vote" %}
            <form action="{% url 'campaign_donate' page_slug=campaign.page.page_slug campaign_pk=campaign.pk campaign_slug=campaign.campaign_slug vote_participant_pk=vote_participant.pk %}" method="post" id="payment-form">
        {% else %}
            <form action="{% url 'campaign_donate' page_slug=campaign.page.page_slug campaign_pk=campaign.pk campaign_slug=campaign.campaign_slug %}" method="post" id="payment-form">
        {% endif %}
    {% endif %}
        {% csrf_token %}
            {{ form.as_p  }}
            
            <input type="checkbox" name="preset-amount" class="preset-amount" value=5 />$5<br />
            <input type="checkbox" name="preset-amount" class="preset-amount" value=10 />$10<br />
            <input type="checkbox" name="preset-amount" class="preset-amount" value=25 />$25<br />
            <input type="checkbox" name="preset-amount" class="preset-amount" value=50 />$50<br />
            <input type="checkbox" name="preset-amount" class="preset-amount" value=100 />$100<br />

            <div id="amount-errors"></div>

            {% if cards %}
                {% for x, c in cards.items %}
                    <input type="radio" name="saved_card" class="saved-card" value="{{ c.id }}" {% if c.default == True %}checked="checked" {% endif %}/>{{ c.name }} ({{ c.last4 }})<br />
                {% endfor %}
            {% elif cards_error_authentication %}
            {% endif %}
            <p><a id="new-card" href="">New card</a></p>
            <div id="new-card-info" style="display:none;">
                <p><label for="id_save_card">Save card:</label> <input type="checkbox" name="save_card" id="id_save_card" /></p>
                <div id="card-element"></div>
                <div id="card-errors" role="alert"></div>
            </div>
        {% if vote_participant %}
            <input type="hidden" name="vote_participant" value="{{ vote_participant.pk }}">
        {% endif %}
        <button>Donate</button>
    </form>
</div>
    <script>

        $("input.preset-amount").on("change", function() {
            $("input.preset-amount").not(this).prop("checked", false);  
        });

        var stripe = Stripe('{{ api_pk }}');
        var elements = stripe.elements();
        var card = elements.create('card');
        card.mount("#card-element");

        card.addEventListener('change', function(event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });

        $(document).on('click', "#new-card", function(event) {
            event.preventDefault();
            $("#new-card-info").show();
            $("#new-card").text("Cancel new card");
            $("#new-card").attr("id", "hide-new-card");
        });

        $(document).on('click', "#hide-new-card", function(event) {
            event.preventDefault();
            $("#new-card-info").hide();
            $("#hide-new-card").text("New card");
            $("#hide-new-card").attr("id", "new-card");
        });
    
        $(document).on('submit', "#payment-form", function(event) {
            event.preventDefault();
            if (document.getElementById("id_anonymous_donor").checked) {
                var extraDetails = {};
            } else {
                var extraDetails = {
                    name: "{{ request.user.first_name }} {{ request.user.last_name }}",
                };
            };

            if ($("#hide-new-card").length > 0) {
                console.log("hide-new-card length");
                console.log($("#hide-new-card").length);
                $("input.saved-card").prop("checked", false);
                stripe.createToken(card, extraDetails).then(function(result) {
                    if (result.error) {
                        var errorElement = document.getElementById('card-errors');
                        errorElement.textContent = result.error.message;
                    } else {
                        stripeTokenHandler(result.token);
                    }
                });
            } else if ($("#new-card").length > 0) {
                console.log("new-card length");
                submitCheck();
            };
        });

        function stripeTokenHandler(token) {
            var form = document.getElementById("payment-form");
            var hiddenInput = document.createElement("input");
            hiddenInput.setAttribute("type", "hidden");
            hiddenInput.setAttribute("name", "stripeToken");
            hiddenInput.setAttribute("value", token.id);
            form.appendChild(hiddenInput);
//            form.submit();
            submitCheck();
        }

        function submitCheck() {
                if (($("input.preset-amount:checked").length == 0) && ($("#id_amount").val().length == 0)) {
                    console.log("nothing is checked and amount is empty");
                    $("#amount-errors").html("Please select an amount to donate.");
                } else {
                    console.log("something is either checked or the amount is not empty");
                    $("#amount-errors").html("");
                    var form = document.getElementById("payment-form");
                    form.submit();
                };
        }
    </script>
{% endif %}
