{% extends '_layout.html' %}
{% load static from staticfiles %}

{% block title %}FAQ | {{ block.super }}{% endblock %}

{% block head_extra %}
    {% include "twitter_metadata.html" %}
    {% include "og.html" %}
    <meta property="og:url" content="https://page.fund/faq/" />
{% endblock %}

{% block body_content %}
    <h1>Frequently Asked Questions (FAQs)</h1>
    <hr>
    {% for faq in faqs %}
        <div class="row mb-5">
            <div class="col-12">
                <p class="mb-1 font-weight-bold">{{ faq.question }}</p>
                {{ faq.answer|safe|linebreaks }}
            </div>
        </div>
    {% endfor %}
    <div class="pb-5"></div>
{% endblock %}

{% block body_extra %}
    <script src="{% static 'js/comment_csrf.js' %}"></script>
{% endblock %}
