{% extends '_layout.html' %}
{% load static from staticfiles %}

{% block title %} Search | {{ block.super }}{% endblock %}

{% block head_extra %}

<script src="{% static 'js/comment_csrf.js' %}"></script>
<script>
function search() {
    var checked = document.getElementsByName('filters[]');
    var filters = [];
    for (c = 0; c < checked.length; c++) {
        if (checked[c].checked) {
            filters.push(checked[c].value);
        }
    }
    q = $('#q').val();
    q = q.split(/[ ]+/).join(',');
    var url = "{% url 'search:results' %}";

    $.ajax({
        url : url,
        type : "POST",
        data : {
            q : q,
            f : filters
        },
        success : function(json) {
            $("#sponsored-list").empty();
            $("#results-list").empty();
            for (var key in json) {
                if (json[key]["sponsored"] == "t") {
                    console.log("t");
                    $("#sponsored-list").append("<li><a href='/" + key +  "/'>" + json[key]['name'] + "</a></li>");
                } else {
                    console.log("f");
                    $("#results-list").append("<li><a href='/" + key +  "/'>" + json[key]['name'] + "</a></li>");
                }
            }
        }
    });
};

$(document).on('keyup', '#q', function() {
    search();
});

$(document).on('keypress', '#q', function(event) {
    if (event.keyCode == 13) {
        event.preventDefault();
        return false;
    }
});

$(document).ready(function() {
    $(":checkbox").change(function() {
        checkboxClick();
    });
});

$(document).ready(function() {
    $("#checkall").click(function(event) {
        event.preventDefault();
        var checkboxes = $(document.getElementsByName('filters[]'));
        checkboxes.prop('checked', !checkboxes.prop('checked')).change();
    });
});
</script>
{% endblock %}

{% block body_content %}
    <form>
    {% csrf_token %}
    <input id="q" type="text" placeholder="Search" />

    <a href="" id="checkall">Select all</a>

    {% for k, v in categories.items %}
        <input name="filters[]" type="checkbox" value="{{ k }}">{{ v }}</input>
    {% endfor %}
    </form>

    <div id="sponsored">
        <p>Sponsored Results:</p>
        <ul id="sponsored-list"></ul>
    </div>

    <div id="results">
        <p>Search Results:</p>
        <ul id="results-list"></ul>
    </div>
{% endblock %}






<p><a href="{% url 'page' page_slug=page.page_slug %}">{{ page.name }}</a> {% if page.city %}{{ page.city }}{% endif %}{% if page.city and page.state %}, {% endif %}{% if page.state %}{{ page.state }}{% endif %}</p>
<p><a href="{% url 'page' page_slug=result.page_slug %}">{{ result.name }}</a> {% if result.city %}{{ result.city }}{% endif %}{% if result.city and result.state %}, {% endif %}{% if result.state %}{{ result.state }}{% endif %}</p>
