{% extends '_layout.html' %}
{% load static from staticfiles %}

{% block title %} Search | {{ block.super }}{% endblock %}

{% block head_extra %}

<script>
function checkboxClick() {
    var checked = document.getElementsByName('filters[]');
    var filters = [];
    for (c = 0; c < checked.length; c++) {
        if (checked[c].checked) {
            filters.push(checked[c].value);
        }
    }
    q = $('#q').val();
    q = q.split(/[ ]+/).join(',');
    $('#results').html('&nbsp;').load('{% url 'search:results' %}?q=' + q + '&f=' + filters);
};

$(document).on('keyup', '#q', function() {
    checkboxClick();
});
</script>
{% endblock %}

{% block body_content %}
    <form>
    <input id="q" type="text" placeholder="Search" />

    {% for k, v in categories.items %}
        <input name="filters[]" onclick="checkboxClick()" type="checkbox" value="{{ k }}">{{ v }}</input>
    {% endfor %}
     </form>

    <p>Results:</p>
    <div id="results"></div>
{% endblock %}
