{% extends '_layout.html' %}
{% load static from staticfiles %}
{% load guardian_tags %}
{% load donation_extras %}

{% block title %} {{ campaign.name }} | {{ block.super }}{% endblock %}

{% block head_extra %}
    <link href="{% static 'css/lightbox.css' %}" rel="stylesheet">
    <script>
        var model = "campaign";
        var model_pk = {{ campaign.pk }};
    </script>
    <script src="{% static 'js/comment_csrf.js' %}"></script>
    <script src="{% static 'js/subscribe.js' %}"></script>
{% endblock %}

{% block body_content %}
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-7">
                {% include "campaign/campaign_image.html" %}
            </div>
            <div class="col-md-5 page-info">
                {% include "campaign/campaign_actions.html" %}
                <div class="row">
                    <div class="col-xl-6">
                        {% include "campaign/campaign_info.html" %}
                    </div>
                    <div class="col-xl-6">
                        {% include "campaign/campaign_subactions.html" %}
                    </div>
                    {% if campaign.website %}
                        <div class="col-12">
                            <p><i class="fal fa-fw fa-desktop"></i> {{ campaign.website }}</p>
                        </div>
                    {% endif %}
                </div>

            </div>
        </div>
        {% if campaign.description %}
            <div class="row mb-5">
                <div class="col">
                    {% include "campaign/campaign_about.html" %}
                </div>
            </div>
        {% endif %}

        {% if campaign.vote_participants %}
            <div class="row mb-5">
                <div class="col">
                    {% include "campaign/campaign_vote_participants.html" %}
                </div>
            </div>
        {% endif %}

        <div class="row justify-content-between mb-5">
            <div class="col-lg-8">
                {% include "campaign/campaign_donations.html" %}
            </div>
            <div class="col-lg-4">
                {% include "campaign/campaign_top_donors.html" %}
            </div>
        </div>
        <div class="row justify-content-center mb-5">
            <div class="col">
                {% include "comments/comments.html" with obj=campaign %}
            </div>
        </div>
    </div>

{% endblock %}

{% block body_extra %}
    <script src="{% static 'js/lightbox.js' %}"></script>
{% endblock %}
