{% load donation_extras %}
{% load staticfiles %}
{% load lib_extras %}


{% for p in campaign.vote_participants %}
    <div class="row mb-4">
        <div class="col-md-auto vote-participant-picture-container">
            {% if p.image %}
                <div class="{{ p.image|img_class:'large' }}">
                    <a href="{{ p.image.url }}" data-lightbox="image-{{ p.pk }}">
                        <img src="{{ p.image.url }}" alt="Vote participant image" title="Vote participant image" />
                    </a>
                </div>
            {% else %}
                <div class="circular-square">
                    <img src="{% static 'img/user_default.svg' %}" alt="Default vote participant image" title="Default vote participant image" />
                </div>
            {% endif %}
        </div>

        <div class="col-md-10 mb-4">
            <div class="row justify-content-between">
                <div class="col-md-auto">
                    <h3>
                        {% if campaign.is_active %}
                            <a class="teal" href="{% url 'campaign_donate' page_slug=campaign.page.page_slug campaign_pk=campaign.pk campaign_slug=campaign.campaign_slug vote_participant_pk=p.pk %}">
                                {{ p.name }}
                            </a>
                        {% else %}
                            <span class="teal">
                                {{ p.name }}
                            </span>
                        {% endif %}
                    </h3>
                </div>
                <div class="col d-flex align-items-center h100">
                    {% if campaign.is_active %}
                        <a href="{% url 'campaign_donate' page_slug=campaign.page.page_slug campaign_pk=campaign.pk campaign_slug=campaign.campaign_slug vote_participant_pk=p.pk %}" role="button" class="btn btn-teal">Vote</a>
                    {% endif %}
                </div>
                <div class="col-md-3 vote-amount">
                    <span class="teal font-weight-bold font-size-175">{{ p.vote_amount|cents_to_dollars }}</span>
                </div>
            </div>
            <span class="comment-content">{{ p.description|linebreaks }}</span>
        </div>
    </div>
{% endfor %}
