{% load humanize %}
{% load staticfiles %}
{% load donation_extras %}
{% load lib_extras %}


<div class="row mb-3">
    <div class="col-md-auto">
        <h2>Donations</h2>
    </div>
    <div class="col d-flex align-items-center h100">
        <a href="{% url 'campaign_donations' page_slug=campaign.page.page_slug campaign_pk=campaign.pk campaign_slug=campaign.campaign_slug %}" role="button" class="btn btn-outline-teal">
            See all
        </a>
    </div>
</div>

{% if campaign.donations_recent %}
    {% for d in campaign.donations_recent %}
        {% include "campaign/_donations.html" %}
    {% endfor %}
{% else %}
    <p>There aren't any recent donations.</p>
{% endif %}
