{% extends '_layout.html' %}
{% load static from staticfiles %}
{% load guardian_tags %}
{% load comment_extras %}

{% block title %} {{ campaign.name }} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'page' page_slug=campaign.page.page_slug %}">{{ campaign.page.name }}</a> / {{ campaign.name }}
{% endblock %}

{% block body_content %}
    <h1>{{ campaign.name }}</h1>
    {% if campaign.campaign_icon %}
        <img src="{{ campaign.campaign_icon.url }}" width="200" />
    {% endif %}
    <p>Type: {{ campaign.get_type_display }}</p>
    <p>Description: {{ campaign.description }}</p>
    <p>Goal: ${{ campaign.goal }}</p>
    <p>${{ campaign.donation_money }} raised by {{ campaign.donation_count }} donors</p>

    <h3>Comments</h3>
    <form action="{% url 'comments:comment_campaign' campaign_pk=campaign.pk %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Comment" />
    </form>
    {% if comments %}
        <ul>
            {% for c in comments %}
                <li>{{ c.content }} - {{ c.user.userprofile.first_name }} {{ c.user.userprofile.last_name }} @ {{ c.date }}</li>
                {% comment_replies c.pk as replies %}
                {% if replies %}
                    <ul>
                        {% for r in replies %}
                            <li>{{ r.content }} - {{ r.user.userprofile.first_name }} {{ r.user.userprofile.last_name }} @ {{ r.date }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>No comments</p>
    {% endif %}

    {% if request.user.userprofile in campaign.campaign_admins.all %}
        <h4>Admin</h4>
        <p><a href="{% url 'campaign_edit' page_slug=page.page_slug campaign_pk=campaign.pk campaign_slug=campaign.campaign_slug %}">Edit Campaign</a></p>
        <p><a href="{% url 'campaign_delete' page_slug=page.page_slug campaign_pk=campaign.pk campaign_slug=campaign.campaign_slug %}">Delete Campaign</a></p>
        {% if managers %}
            <h5>Managers</h5>
            <form method="POST" action"">
                {% csrf_token %}
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Invite</th>
                        <th></th>
                    </tr>
                {% for manager in managers %}
                    {% get_obj_perms manager.user for campaign as "campaign_perms" %}
                    <tr>
                        <td>{{ manager.first_name }} {{ manager.last_name }}</td>
                        <td>{{ manager.user.email }}</td>
                        <td><input name="permissions[]" type="checkbox" value="{{ manager.pk }}_manager_edit" {% if 'manager_edit' in campaign_perms %}checked{% endif %} /></td>
                        <td><input name="permissions[]" type="checkbox" value="{{ manager.pk }}_manager_delete" {% if 'manager_delete' in campaign_perms %}checked{% endif %} /></td>
                        <td><input name="permissions[]" type="checkbox" value="{{ manager.pk }}_manager_invite" {% if 'manager_invite' in campaign_perms %}checked{% endif %} /></td>
                        <td><a href="{% url 'remove_manager' page_slug=page.page_slug campaign_pk=campaign.pk campaign_slug=campaign.campaign_slug manager_pk=manager.pk %}">Remove<a/></td>
                {% endfor %}
                </table>
                <input type="submit" value="Save" />
            </form>
        {% endif %}
    {% else %}
        <p>you're NOT an admin</p>
    {% endif %}

    {% get_obj_perms request.user for campaign as "campaign_perms" %}
    {% if campaign_perms %}
        <h4>Manager</h4>
    {% endif %}
    {% if "manager_edit" in campaign_perms %}
        <p><a href="{% url 'campaign_edit' page_slug=page.page_slug campaign_pk=campaign.pk campaign_slug=campaign.campaign_slug %}">Edit Campaign</a></p>
    {% endif %}
    {% if "manager_delete" in campaign_perms %}
        <p><a href="{% url 'campaign_delete' page_slug=page.page_slug campaign_pk=campaign.pk campaign_slug=campaign.campaign_slug %}">Delete Campaign</a></p>
    {% endif %}
    {% if "manager_invite" in campaign_perms %}
        <p><a href="{% url 'campaign_invite' page_slug=page.page_slug campaign_pk=campaign.pk campaign_slug=campaign.campaign_slug %}">Invite others to manage Campaign</a></p>
    {% endif %}
{% endblock %}
