{% extends '_layout.html' %}
{% load static from staticfiles %}

{% block title %} Create Campaign - Vote | {{ block.super }}{% endblock %}

{% block body_content %}
    <h1>Create Campaign - Vote</h1>
    
    <form method="POST" action="">
        {% csrf_token %}

        {{ formset.management_form }}

        <ul>
        {% for form in formset %}
            <li>
                {{ form.id }}
                {{ form.name }}
                {{ form.description }}
                {% if form.instance.pk %}
                    {{ form.DELETE }}
                {% endif %}
            </li>
        {% endfor %}
        </ul>
        <input type="submit" class="button" value="Save">
    </form>
{% endblock %}
