{% extends '_layout.html' %}
{% load static from staticfiles %}
{% load lib_extras %}
{% load widget_tweaks %}


{% block title %}Edit | {{ block.super }}{% endblock %}

{% block body_content %}
    <h1>Campaign Vote Participants</h1>
    <hr>
    <p>Enter the <span class="font-weight-bold">name</span> of your vote participant and optionally give a <span class="font-weight-bold">description</span>.</p>
    <p>Please make sure you have at least <span class="font-weight-bold">two</span> vote participants and that each vote participant has a <span class="font-weight-bold">name</span>.</p>
    <p>When <span class="font-weight-bold">uploading a picture</span>, select your image and it will be uploaded when you click "Save".</p>
    <p>To <span class="font-weight-bold">delete</span> a vote participant, select "delete" and click "Save".</p>
    
    <form class="mt-5" id="vote-participant-form" method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}

        {{ formset.management_form }}

        {% for form in formset %}

            <div class="row mb-5 form-container">
                <div class="col-md-3">
                    {{ form.image }}
                </div>

                <div class="form-group col-md-7">
                    {{ form.id }}
                    {% render_field form.name class+="form-control mb-3" %}

                    {% if form.name.errors %}
                        {% for error in form.name.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error|escape }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% render_field form.description class+="form-control" %}

                    {% if form.description.errors %}
                        {% for error in form.description.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error|escape }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="col-md-2 d-flex align-items-center h100">
                    <div class="row">
                        <div class="col-12">
                            {% if form.instance.pk %}
                                {{ form.DELETE }} Delete
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="row">
            <a class="btn btn-secondary col-md-2 offset-md-3" href="{% url 'campaign_dashboard_admin' page_slug=campaign.page.page_slug campaign_pk=campaign.pk campaign_slug=campaign.campaign_slug %}">Cancel</a>
            <input type="submit" class="btn btn-teal col-md-2 offset-md-3" value="Save">
        </div>
    </form>
{% endblock %}

{% block body_extra %}
    <script src="{% static 'js/formset.js' %}"></script>    
    <script type="text/javascript">
        $(function() {
            $(".form-container").formset({
                prefix: "{{ formset.prefix }}",
            });
        })
    </script>
{% endblock %}
