{% load donation_extras %}
{% load staticfiles %}
{% load lib_extras %}


<h2 class="mb-3">Top Donors
<a class="tooltip-top font-size-125 ml-2 text-secondary" id="top_donors_info" href="#" data-toggle="tooltip" data-placement="top" title="Only users with PageFund accounts are on this list">
<i class="fal fa-question-circle"></i><span class="sr-only">Only users with PageFund accounts are on this list</span></a>
</h2>

{% if campaign.top_donors %}
    {% for a, b in campaign.top_donors %}
        <div class="row top-donor mb-3">
            <div class="col-md-auto comment-profile-picture-container">
                {% if b.image_url %}
                    {% get_img_from_pk b.image_pk "user" as img %}
                    <div class="{{ img|img_class:'small' }}">
                        <img src="{{ b.image_url }}" alt="Top donor image" title="Top donor image" />
                    </div>
                {% else %}
                    <div class="circular-square-sm">
                        <img src="{% static 'img/user_default.svg' %}" alt="Default donor image" title="Default donor image" />
                    </div>
                {% endif %}
            </div>
            <div class="col">
                <div class="row comment-info">
                    <div class="col">
                        <span class="comment-user-name">
                            {% if b.first_name %}
                                {{ b.first_name }} {{ b.last_name }}
                            {% else %}
                                {{ b.email }}
                            {% endif %}
                        </span>
                    </div>
                </div>

                <hr>

                <span class="teal font-weight-bold font-size-125">{{ b.amount|cents_to_dollars }}</span>

            </div>
        </div>
    {% endfor %}
{% else %}
    <p>There aren't any donors.</p>
{% endif %}
