{% load static from staticfiles %}
{% load guardian_tags %}


<div class="fa-3x">
    <span class="fa-layers fa-fw" data-toggle="tooltip" title="{{ campaign.get_type_display }}/{{ campaign.get_category_display }}">
        <i class="fas fa-circle"></i>
        <i class="fal fa-inverse fa-tag" data-fa-transform="shrink-9"></i>
    </span>

    {% if campaign.website %}
        <span class="fa-layers fa-fw" data-toggle="tooltip" title="{{ campaign.website }}">
            <a href="{{ campaign.website }}" target="_blank" class="page-icon">
                <i class="fas fa-circle"></i>
                <i class="fal fa-inverse fa-desktop" data-fa-transform="shrink-9"></i>
            </a>
        </span>
    {% endif %}

    {% get_obj_perms request.user for campaign as "campaign_perms" %}
    {% if request.user.userprofile in campaign.campaign_admins.all or campaign_perms %}
        <span class="fa-layers fa-fw" data-toggle="tooltip" title="Campaign settings">
            <a href="{% url 'campaign_dashboard_admin' page_slug=campaign.page.page_slug campaign_pk=campaign.pk campaign_slug=campaign.campaign_slug %}" class="page-icon">
                <i class="fas fa-circle"></i>
                <i class="fal fa-inverse fa-cog" data-fa-transform="shrink-9"></i>
            </a>
        </span>
    
        <span class="fa-layers fa-fw" data-toggle="tooltip" title="Campaign analytics">
            <a href="{% url 'campaign_dashboard_analytics' page_slug=campaign.page.page_slug campaign_pk=campaign.pk campaign_slug=campaign.campaign_slug %}" class="page-icon">
                <i class="fas fa-circle"></i>
                <i class="fal fa-inverse fa-chart-bar" data-fa-transform="shrink-9"></i>
            </a>
        </span>
    {% endif %}

    <span class="fa-layers fa-fw" data-toggle="tooltip" title="Share on Facebook">
        <a href="" id="share-facebook" class="facebook-svg">
            <i class="fas fa-circle"></i>
            <i class="fab fa-inverse fa-facebook-f" data-fa-transform="shrink-9"></i>
        </a>
    </span>

    <span class="fa-layers fa-fw" data-toggle="tooltip" title="Share on Twitter">
        <a href="https://twitter.com/intent/tweet?hashtags=raiseextra&url={{ request.build_absolute_uri }}&text=Help%20{{ campaign.name }}%20raise%20extra!" id="share-twitter" class="twitter-svg">
            <i class="fas fa-circle"></i>
            <i class="fab fa-inverse fa-twitter" data-fa-transform="shrink-9"></i>
        </a>
    </span>
</div>

{% block body_extra %}
    <script>
        window.fbAsyncInit=function(){FB.init({appId:'128825374510028',autoLogAppEvents:!0,xfbml:!0,version:'v2.12'})};(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src='https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=128825374510028&autoLogAppEvents=1';fjs.parentNode.insertBefore(js,fjs)}(document,'script','facebook-jssdk'));$("#share-facebook").click(function(event){event.preventDefault();FB.ui({method:'share',href:'{{ request.build_absolute_uri }}',},function(response){})});window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return t;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f)};return t}(document,"script","twitter-wjs"))
    </script>
{% endblock %}