{% extends '_layout.html' %}
{% load static from staticfiles %}

{% block title %} {{ campaign.name }} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'page' page_slug=campaign.page.page_slug %}">{{ campaign.page.name}}</a> / {{ campaign.name }}
{% endblock %}

{% block body_content %}
    <h1>{{ campaign.name }}</h1>
    <p>Description: {{ campaign.description }}</p>
    <p>${{ campaign.donation_money }} raised by {{ campaign.donation_count }} donors</p>
{% endblock %}
