{% extends '_layout.html' %}
{% load static from staticfiles %}

{% block title %} Create Campaign | {{ block.super }}{% endblock %}

{% block head_extra %}
    <script src="{% static 'js/comment_csrf.js' %}"></script>
    <script src="{% static 'js/campaign_search_pages.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}
    {% if page %}
        <a href="{% url 'page' page_slug=page.page_slug %}">{{ page.name }}</a> / Create
    {% endif %}
{% endblock %}

{% block body_content %}
    <h1>Create Campaign</h1>

    <form>
        {% csrf_token %}
        <input id="q" type="text" placeholder="Search for Pages" />
    </form>

    <form action="{% url 'campaign_create' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div id="results">
            <p>Search Results:</p>
            <ul id="results-list">
                {% if page %}
                    <li><input type="radio" name="page" value="{{ page.pk }}" checked="checked" />{{ page.name }}  - {% if page.city %}{{ page.city }}, {% endif %}{{ page.state }}</li>
                {% endif %}
            </ul>
        </div>

        {{ form.as_p }}

        <input type="submit" value="Create campaign" />
    </form>
{% endblock %}
