{% extends '_layout.html' %}
{% load static from staticfiles %}

{% block title %}Edit | {{ block.super }}{% endblock %}

{% block head_extra %}
    <script src="{% static 'js/formset.js' %}"></script>    
{% endblock %}

{% block body_content %}
    <h1>Create Campaign - Vote</h1>
    
    <form id="vote-participant-form" method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}

        {{ formset.management_form }}

        <table>
            <tbody>
                {% for form in formset %}
                    <tr class="form-container">
                        <td>{{ form.id}}{{ form.name }}</td>
                        <td>{{ form.description }}</td>
                        <td>{{ form.image }}</td>
                        {% if form.instance.pk %}
                            <td>delete: {{ form.DELETE }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <input type="submit" class="button" value="Save">
    </form>
{% endblock %}

{% block body_extra %}
<script type="text/javascript">
    $(function() {
        $(".form-container").formset({
            prefix: "{{ formset.prefix }}",
        });
    })
</script>
{% endblock %}
