{% load staticfiles %}


{% if campaign.profile_picture %}
    <a href="{{ campaign.profile_picture.image.url }}" data-lightbox="profile-picture" data-title="<a href='/notes/abuse/image/campaign/{{ campaign.profile_picture.pk }}/'>Report image</a>">
        <img src="{{ campaign.profile_picture.image.url }}" class="img-fluid img-thumbnail" />
    </a>
{% else %}
    <a href="{% static 'img/page_default.svg' %}" data-lightbox="profile-picture">
        <img src="{% static 'img/page_default.svg' %}" class="img-fluid img-thumbnail" />
    </a>
{% endif %}

<div hidden>
    {% for image in campaign.images %}
        {% if not image.profile_picture %}
            <a href="{{ image.image.url }}" data-lightbox="profile-picture" data-title="<a href='/notes/abuse/image/campaign/{{ campaign.profile_picture.pk }}/'>Report image</a>">
                <img src="{{ image.image.url }}" class="img-fluid img-thumbnail" />
            </a>
        {% endif %}
    {% endfor %}
</div>
