{% load guardian_tags %}


{% get_obj_perms request.user for campaign as "campaign_perms" %}
{% if request.user.userprofile in campaign.campaign_admins.all or campaign_perms %}
    <p><i class="fal fa-fw fa-chart-bar"></i> <a class="teal" href="{% url 'campaign_dashboard' page_slug=campaign.page.page_slug campaign_pk=campaign.pk campaign_slug=campaign.campaign_slug %}">Manage this Campaign</a></p>
{% endif %}

{% if request.user.is_authenticated %}
    {% if request.user.userprofile not in campaign.campaign_admins.all and campaign_perms|length == 0 %}
        <p>{% if subscribe_attr.name == "subscribe" %}<i class="fal fa-fw fa-check-circle"></i>{% elif subscribe_attr.name == "unsubscribe" %}<i class="fal fa-fw fa-times-circle"></i>{% endif %} <a class="teal" href="" id="subscribe" name="{{ subscribe_attr.name }}">{{ subscribe_attr.value  }}</a></p>
    {% endif %}
{% else %}
    <p><i class="fal fa-fw fa-check-circle"></i> <a class="teal" href="{% url 'campaign_subscribe' campaign_pk=campaign.pk action='subscribe' %}">Subscribe</a></p>
{% endif %}

<p>
    <a class="teal" href=""><i class="fab fa-fw fa-facebook-f"></i></a>
    <a class="teal" href=""><i class="fab fa-fw fa-twitter"></i></a>
</p>
