{% extends '_layout.html' %}
{% load static from staticfiles %}
{% load widget_tweaks %}


{% block title %}Create | {{ block.super }}{% endblock %}

{% block head_extra %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block body_content %}
    <div class="row mt-4 mb-3">
        <div class="col-12 text-center">
            <h1>Which Page are you helping?</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2">
            <form>
                {% csrf_token %}
                <div class="form-group">
                    <input id="q" type="text" class="form-control form-control-lg" placeholder="Search for Pages">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form action="{% url 'campaign_create' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div id="results" class="mb-5">
                    {% if page %}
                        <div class="row mb-4">
                            <div class="col-md-10 offset-md-2">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="page" value="{{ page.pk }}" id="page{{ page.pk }}" checked>
                                    <label class="form-check-label" for="page{{ page.pk }}">
                                        <a class="pr-3" href="{% url 'page' page_slug=page.page_slug %}">{{ page.name }}</a>
                                    </label>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>

                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}

                <div class="form-group row">
                    <label for="{{ form.name.id_for_label }}" class="col-md-2 col-form-label">
                        Campaign name
                    </label>
                    <div class="col-md-5">
                        {% render_field form.name class+="form-control" aria-describedby="name-help"%}
                        <small id="name-help" class="form-text text-muted">
                            This is how your name will be displayed on PageFund.
                        </small>
                    </div>
                    {% if form.name.errors %}
                        <div class="col-md-10 offset-md-2 mt-1 mb-4">
                            {% for error in form.name.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="form-group row">
                    <label for="{{ form.website.id_for_label }}" class="col-md-2 col-form-label">
                        Your website
                    </label>
                    <div class="col-md-5">
                        {% render_field form.website class+="form-control" aria-describedby="website-help" %}
                        <small id="website-help" class="form-text text-muted">
                            Optional
                        </small>
                    </div>
                    {% if form.website.errors %}
                        <div class="col-md-10 offset-md-2 mt-1 mb-4">
                            {% for error in form.website.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <hr>

                <div class="form-group row">
                    <label for="{{ form.goal.id_for_label }}" class="col-md-2 col-form-label">
                        Goal
                    </label>
                    <div class="col-md-3">
                        {% render_field form.goal class+="form-control" aria-describedby="goal-help" %}
                        <small id="goal-help" class="form-text text-muted">
                            How much do you want to raise?
                        </small>
                    </div>
                    {% if form.goal.errors %}
                        <div class="col-md-10 offset-md-2 mt-1 mb-4">
                            {% for error in form.goal.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="form-group row">
                    <label for="{{ form.end_date.id_for_label }}" class="col-md-2 col-form-label">
                        End date
                    </label>
                    <div class="col-md-3">
                        {% render_field form.end_date class+="form-control" aria-describedby="end_date-help" %}
                        <small id="end_date-help" class="form-text text-muted">
                            When will your Campaign end?
                        </small>
                    </div>
                    {% if form.end_date.errors %}
                        <div class="col-md-10 offset-md-2 mt-1 mb-4">
                            {% for error in form.end_date.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="form-group row">
                    <label for="{{ form.type.id_for_label }}" class="col-md-2 col-form-label">
                        Type
                    </label>
                    <div class="col-md-2">
                        {% render_field form.type class+="form-control" %}
                    </div>
                    {% if form.type.errors %}
                        <div class="col-md-10 offset-md-2 mt-1 mb-4">
                            {% for error in form.type.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="form-group row">
                    <label for="{{ form.description.id_for_label }}" class="col-md-2 col-form-label">
                        Description
                    </label>
                    <div class="col-md-8">
                        {% render_field form.description class+="form-control" aria-describedby="description-help" %}
                        <small id="description-help" class="form-text text-muted">
                            Optional
                        </small>
                    </div>
                    {% if form.description.errors %}
                        <div class="col-md-10 offset-md-2 mt-1 mb-4">
                            {% for error in form.description.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <input class="offset-md-2 btn btn-teal mt-3" type="submit" value="Create Campaign" />
            </form>
        </div>
    </div>
{% endblock %}

{% block body_extra %}
    <script src="{% static 'js/comment_csrf.js' %}"></script>
    <script src="{% static 'js/campaign_search_pages.js' %}"></script>
    <script src="{% static 'js/datepicker.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}
