{% load humanize %}
{% load staticfiles %}
{% load donation_extras %}


<div class="row mb-3">
    <div class="col-md-auto">
        <h2>Donations</h2>
    </div>
    <div class="col d-flex align-items-center h100">
        <a href="" role="button" class="btn btn-outline-teal">
            See all
        </a>
    </div>
</div>

{% for d in campaign.donations_recent %}
    <div class="row donation mb-3">
        <div class="col-md-auto comment-profile-picture-container">
            {% if d.user.userprofile.profile_picture %}
                {% if d.anonymous_donor %}
                    <img class="comment-profile-picture" src="{% static 'img/user_default.svg' %}" />
                {% else %}
                    <img class="comment-profile-picture" src="{{ d.user.userprofile.profile_picture.image.url }}" />
                {% endif %}
            {% else %}
                <img class="comment-profile-picture" src="{% static 'img/user_default.svg' %}" />
            {% endif %}
        </div>
        <div class="col-md-9 {% if not d.comment %}d-flex align-items-center h100{% endif %}">
            <div class="row">
                <div class="col-12">
                    <span class="font-weight-bold">
                        {% if not d.anonymous_donor %}
                            {% if d.user %}
                                {{ d.user.first_name }} {{ d.user.last_name }}
                            {% else %}
                                {{ d.donor_first_name }} {{ d.donor_last_name }}
                            {% endif %}
                        {% else %}
                            An anonymous donor
                        {% endif %}
                    </span>

                    donated

                    <span class="teal font-weight-bold">
                        {% if not d.anonymous_amount %}
                            {{ d.amount|cents_to_dollars }}
                        {% else %}
                            an anonymous amount
                        {% endif %}
                    </span>

                    {% if d.campaign_participant %}
                        for <span class="teal">{{ d.campaign_participant }}</span>
                    {% endif %}

                    <p class="comment-date small">
                        <i class="fal fa-clock"></i> {{ d.date|naturaltime }}
                    </p>
                </div>

                <div class="col-12">
                    {% if d.comment %}
                        <p class="comment-content">{{ d.comment }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
