html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.body-login {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #ffffff;
}
a,
.purple {
    color: #990099;
}
a:hover,
a.purple:hover {
    color: #660066;
}
.teal {
    color: #2db386;
}
a.teal:hover {
    color: #336666;
}
.facebook {
    background-color: #4267b2;
    border-color: #29487d;
}
.facebook:hover {
    background-color: #365899;
    border-color: #29487d;
}
.google {
    background-color: #4285f4;
    border-color: #4285f4;
}
.google:hover {
    background-color: #357ae8;
    border-color: #2f5bb7;
}
.twitter {
    background-color: #1da1f2;
    border-color: #1da1f2;
}
.twitter:hover {
    background-color: #006dbf;
    border-color: #006dbf;
}
.font-size-125 {
    font-size: 1.25rem;
}
.font-size-175 {
    font-size: 1.75rem;
}

/* Media Queries */
@media (max-width: 767.99px) {
    .comment-profile-picture-container,
    .vote-participant-picture-container,
    .search-result-picture-container {
        display: none !important;
    }
    .vote-amount {
        text-align: left;
    }
    .btn {
        display: block;
        width: 100%;
    }
}
@media (min-width: 768px) {
    .vote-amount {
        text-align: right;
    }
}


/* Buttons - All */
.btn {
    border-radius: 0 !important;
}

/* Buttons - Purple */
.btn-purple {
    color:#fff;
    background-color:#990099;
    border-color:#990099;
}
.btn-purple:hover {
    color:#fff;
    background-color:#660066;
    border-color:#600066;
}
.btn-purple.focus,
.btn-purple:focus {
    box-shadow:0 0 0 .2rem rgba(153,0,153,.5);
}
.btn-purple.disabled,
.btn-purple:disabled {
    background-color:#990099;
    border-color:#990099;
}
.btn-purple:not([disabled]):not(.disabled).active,
.btn-purple:not([disabled]):not(.disabled):active,
.show> .btn-purple.dropdown-toggle {
    color:#fff;
    background-color:#660066;
    border-color:#600066;
    box-shadow:0 0 0 .2rem rgba(153,0,153,.5);
}

.btn-outline-purple {
    color:#990099;
    background-color:transparent;
    background-image:none;
    border-color:#990099;
}
.btn-outline-purple:hover {
    color:#fff;
    background-color:#990099;
    border-color:#990099;
}
.btn-outline-purple.focus,
.btn-outline-purple:focus {
    box-shadow:0 0 0 .2rem rgba(153,0,153,.5);
}
.btn-outline-purple.disabled,
.btn-outline-purple:disabled {
    color:#990099;
    background-color:transparent;
}
.btn-outline-purple:not([disabled]):not(.disabled).active,
.btn-outline-purple:not([disabled]):not(.disabled):active,
.show> .btn-outline-purple .dropdown-toggle {
    color:#fff;
    background-color:#990099;
    border-color:#990099;
    box-shadow:0 0 0 .2rem rgba(153,0,153,.5);
}

/* Buttons - Teal */
.btn-teal {
    color:#fff;
    background-color:#33cc99;
    border-color:#33cc99;
}
.btn-teal:hover {
    color:#fff;
    background-color:#2db386;
    border-color:#2db386;
}
.btn-teal.focus,
.btn-teal:focus {
    box-shadow:0 0 0 .2rem rgba(51,204,153,.5);
}
.btn-teal.disabled,
.btn-teal:disabled {
    background-color:#33cc99;
    border-color:#33cc99;
}
.btn-teal:not([disabled]):not(.disabled).active,
.btn-teal:not([disabled]):not(.disabled):active,
.show> .btn-teal.dropdown-toggle {
    color:#fff;
    background-color:#2db386;
    border-color:#2db386;
    box-shadow:0 0 0 .2rem rgba(45,179,134,.5);
}

.btn-outline-teal {
    color:#2db386;
    background-color:transparent;
    background-image:none;
    border-color:#2db386;
}
.btn-outline-teal:hover {
    color:#fff;
    background-color:#33cc99;
    border-color:#33cc99;
}
.btn-outline-teal.focus, .btn-outline-teal:focus {
    box-shadow:0 0 0 .2rem rgba(51,204,153,.5);
}
.btn-outline-teal.disabled, .btn-outline-teal:disabled {
    color:#33cc99;
    background-color:transparent;
}
.btn-outline-teal:not([disabled]):not(.disabled).active,
.btn-outline-teal:not([disabled]):not(.disabled):active,
.show> .btn-outline-teal .dropdown-toggle {
    color:#fff;
    background-color:#33cc99;
    border-color:#33cc99;
    box-shadow:0 0 0 .2rem rgba(51,204,153,.5);
}

#logo-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#logo {
    height: 400px;
}
#get-started {
    margin-top: 30px;
}
#logo-nav {
    height: 40px;
}
#logo-login {
    height: 5rem;
}
.fixed-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
}
nav {
    background: #ffffff;
    margin-bottom: 1rem;
}
.navbar {
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
}
a.nav-link {
/*    color: rgba(0,0,0,.75); */
    color: #333333;
    padding-right: 2rem !important;
    font-size: 1rem;
    text-transform: uppercase;
}
a.nav-link:hover {
    color: rgba(153,0,153,1);
}
#login, #signup {
    padding: 0 8px;
}
.pc-thumbnail {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.pc-thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.pc-thumbnail img.portrait {
  width: 100%;
  height: auto;
}
.page-info svg {
    margin-right: 0.5rem;
    color: rgba(0,0,0,.75);
}

/* Comments */
#comment-list {
    margin-top: 2rem;
}
.comment {
    margin-bottom: 2rem;
}
.reply {
    margin-bottom: 1rem;
}
.comment-profile-picture,
.vote-participant-picture,
.search-result-picture-page,
.search-result-picture-campaign {
    transition: border 0.5s ease;
    border-radius: 50%;
    border: 1px solid #ddd;
    padding: .25rem;
}
.comment-profile-picture {
    height: 4rem;
    width: 4rem;
}
.vote-participant-picture,
.search-result-picture-page,
.search-result-picture-campaign {
    height: 8rem;
    width: 8rem;
    margin-bottom: 0.5rem;
}
.comment-profile-picture:hover,
.search-result-picture-page:hover {
    border: 1px solid #990099;
}
.vote-participant-picture:hover,
.search-result-picture-campaign:hover {
    border: 1px solid #2db386;
}
.comment-content {
    word-wrap: break-word;
}
/*.donation-amount, .top-donation-amount {
    font-weight: bold;
    color: #990099;
}*/
#comment-list hr,
.comment hr,
.top-donor hr,
.donation hr {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
.comment-info {
    font-size: 0.875rem;
}
.comment-user-name {
    padding-right: 1rem;
    font-weight: bold;
}
.comment-date {
    color: #666666;
}
.votes {
    margin-right: 1rem;
}
.show-reply,
.delete-cr,
.comment-permalink {
    margin-right: 0.5rem;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #ffffff;
}
.footer .list-inline {
    margin: 0;
}
.footer .list-inline-item {
    margin-right: 15px;
}

/* Progress bar */
.progress-bar-gray,
.progress-bar-teal {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}
.progress-bar-gray {
    background-color: #666666;
}
.progress-bar-teal {
    background-color: #33cc99;
}

/* Testing */
.circular-landscape,
.circular-portrait,
.circular-landscape-sm,
.circular-portrait-sm,
.circular-square,
.circular-square-sm {
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.circular-landscape,
.circular-portrait,
.circular-square {
    width: 8rem;
    height: 8rem;
}
.circular-landscape-sm,
.circular-portrait-sm,
.circular-square-sm {
    width: 4rem;
    height: 4rem;
}
/* .circular-landscape,
.circular-landscape-sm {
    display: inline-block;
} */
.circular-square img,
.circular-square-sm img {
    height: 100%;
    width: 100%;
}
.circular-landscape img,
.circular-landscape-sm img {
    width: auto;
    height: 100%;
}
.circular-portrait img,
.circular-portrait-sm img {
    width: 100%;
    height: auto;
}
.circular-landscape img {
    margin-left: -2rem;
}
.circular-landscape-sm img {
    margin-left: -1rem;
}
.circular-portrait img {
    margin-top: -2rem;
}
.circular-portrait-sm img {
    margin-top: -1rem;
}
.list-group-item.active {
    background-color: #990099;
    border-color: #990099;
}
.list-group-item.active-teal {
    background-color: #33cc99;
    border-color: #33cc99;
    z-index: 2;
    color: #fff;
}



.StripeElement {
    display: block;
    width: 100%;
    padding: .625rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.doughnut-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.doughnut-text-label {

}
.doughnut-text-pct {
    font-weight: bold;
    font-size: 1.5rem;
}

#amount-group .btn-group>.btn-group:not(:last-child)>.btn,
#amount-group .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    margin-right: 0.625rem;
}

#amount-group .btn-block+.btn-block {
    margin-top: 0;
}
@media (max-width: 767.98px) {
    #donate-col {
        order: 1;
    }
    #cancel-col {
        order: 2;
    }
}
