<h2>PageFund, Inc.</h2>

<h3>Anti-Money Laundering, Know Your Customer and OFAC Policy</h3>

<p>Last updated: 04/01/18</p>

<p>PageFund, Inc. (PageFund) has established an anti-money laundering policy 
to assist with the detection of transactions that may involve money laundering, 
terrorist financing, comply with applicable economic sanctions or embargoes 
and to provide resources for reporting applicable situations to appropriate 
agencies, including FinCEN (the Financial Crimes Enforcement Network) and the 
Office of Financial Assets Control ("OFAC"), both divisions within the U.S. 
Department of Treasury.</p>

<p>This Policy is part of PageFund's Ethics and Compliance Program, established 
to assure that PageFund satisfies all legal and regulatory requirements and 
maintains ethical business practices.</p>

<p>PageFund monitors and supports company-wide compliance with the Policy and 
makes regular reports to senior management and to the Audit Committee of the 
Board of Directors of PageFund.</p>

<h3>Anti-Money Laundering and Know Your Customer Program Requirements</h3>

<p>Money laundering is a crime. It involves the movement of money from illegal 
sources or unlawful activities into legitimate businesses or activities.</p>

<p>PageFund is responsible for developing, implementing and maintaining an 
anti-money laundering program tailored to satisfy company-wide policies and 
the requirements of applicable laws and regulations to its business operations. 
Subject to conforming to industry specific regulations, including Know Your 
Customer ("KYC") regulations, such program will generally address the 
following items:</p>

<ul>
    <li>Collecting, verifying, and maintaining records of appropriate 
identifying information, which may include: (i) personal information and a scan 
of a government identification card about customers, beneficial owners, and 
control persons; and (ii) entity type, business name, EIN and the full legal 
name and date of birth of the company representatives or beneficial owners for 
legal entities;</li>
    <li>Comparing the names of customers, beneficial owners, business associates, 
legal entities and payees with the lists maintained by FinCEN and the Office of 
Foreign Assets Control (OFAC) (and any other similarly mandated lists) and 
reporting any matches or otherwise complying with legal requirements;</li>
    <li>Refusing to accept funds from, or to do business with, entities or 
customers whose funds, PageFund reasonably believes, are derived from criminal 
activity or from a sanctioned source;</li>
    <li>Training employees, agents and brokers to identify red flag activities and 
report them to their manager or as directed in their AML procedures;</li>
    <li>Designating an AML compliance officer who, in conjunction with applicable 
compliance personnel, will review red flag activities and determine appropriate 
measures to be taken, consistent with applicable law. Examples of measures would 
include refusing to open an account, severing relations with the customer or vendor, 
closing or freezing accounts and, when appropriate, filing a suspicious activity 
report (SAR) with FinCEN;</li>
    <li>Understanding the nature and purpose of the customer relationship and 
implementing appropriate risk-based procedures for conducting ongoing due 
diligence; and</li>
    <li>Conducting annual independent audits to evaluate the effectiveness of the 
PageFund's AML policies and procedures.</li>
</ul>

<h3>SAR/FINCEN Reporting</h3>

<p>Reports of any suspicious transactions or other activity by employees, agents 
and brokers may be made to PageFund at admin@page.fund or as directed in the 
applicable anti-money laundering procedures. PageFund will coordinate suspicious 
transaction information with designated AML compliance contacts and the Law 
Department to determine appropriate action to be taken and file reports when 
applicable.</p>

<h3>Office of Foreign Assets Control (OFAC) Policy</h3>

<p>The Office of Foreign Assets Control ("OFAC") of the US Department of the 
Treasury administers and enforces economic and trade sanctions based on US 
foreign policy and national security goals against targeted foreign countries 
and regimes, terrorists, international narcotics traffickers, those engaged 
in activities related to the proliferation of weapons of mass destruction, 
and other threats to the national security, foreign policy or economy of the 
United States.</p>

<p>In connection with its administration of these sanctions programs, OFAC 
maintains and publishes regulations and lists of individuals and companies owned 
or controlled by, or acting for or on behalf of, sanctioned countries. It also 
lists individuals, groups, and entities, such as terrorists and narcotics 
traffickers designated under programs that are not country specific. Such 
individuals and companies are collectively called "Specially Designated Nationals" 
or "SDNs". Assets of SDN's are blocked and U.S. persons are generally prohibited 
from dealing with them. Non SDN lists are also maintained by OFAC which list the 
names of individuals, groups, and entities impacted by sanction laws which may 
limit or restrict transactions. OFAC regulations must be complied with by all 
U.S. persons, including U.S. citizens regardless of where they are located in the 
world, all persons or entities within the United States, and all U.S. incorporated 
entities and their foreign branches. In the case of certain OFAC enforced sanctions, 
foreign subsidiaries and affiliates owned or controlled by U.S. companies may be 
required to comply.</p>

<p>In accordance with this Policy and to the extent required by the applicable 
requirements of the OFAC sanctions, PageFund has a legal obligation to comply with 
the applicable OFAC regulations, and to file timely reports as may be required with 
OFAC. PageFund has policies and procedures in place to prevent doing business with 
individuals, entities, or countries subject to sanction and embargoes as required by 
law. Compliance with this Policy and the OFAC enforced sanctions is essential to 
protect PageFund against criminal and civil penalties as well as to maintain 
PageFund's reputation and trust of its customers.</p>