<h2>PageFund, Inc.</h2>

<p>This Privacy Policy explains how information about you is collected, used,
and disclosed by PageFund, Inc. ("PageFund").  This Privacy Policy applies to
information we collect when you use our website (the "Services") or when you
otherwise interact with us.</p>

<p>Last Revised: 12/19/2017</p>

<p>We may change this Privacy Policy from time to time. If we make changes, we
will notify you by revising the date at the top of the page, and in some cases,
we may provide you with additional notice (such as adding a statement to our
homepage or sending you a notification). We encourage you to review the Privacy
Policy whenever you access the Services or otherwise interact with us to stay
informed about our information practices and the ways you can help protect your
privacy.</p>

<h3>What information do we collect?</h3>
<h4>Information you provide to us directly:</h4>
<p>We collect information from you when you register on our site, create or
donate to a Page or Campaign, comment on a Page or Campaign, subscribe to our
blog, fill out a form, communicate with us via third party social media sites,
apply for a job, request customer support, or otherwise communicate with us.
The types of information we collect include your name, email address, mailing
address, phone number, and any other information you choose to provide.</p>

<h4>Information we automatically collect:</h4>
<p>When you visit our site or use our services, our server automatically
collects data about your server's Internet address when you visit us. This
information, known as an Internet Protocol address, or IP Address, is a number
that's automatically assigned to your computer by your Internet service
provider whenever you're on the Internet. When you request pages from our web
site, our servers may log your IP Address and sometimes your domain name. Your
IP Address is used to help identify you and to gather demographic information
about our customers as a whole, but does not include personally identifiable
information. Our server may also record the referring page that linked you to
us (e.g., another web site or a search engine); the pages you visit on our web
site; the web site you visit after our web site; the ads you see and/or click
on; your computer's operating system, browser type and language; access times;
any search terms you have entered on this web site or a referral site; and
other web usage activity and data logged by our web servers.</p>

<h3>What do we use your information for?</h3>
<p>Any of the information we collect from you may be used in one of the
following ways:</p>
<ul>
    <li>To verify an identity for compliance purposes;</li>
    <li>To evaluate an application to use our Services;</li>
    <li>To conduct manual or systematic monitoring for fraud and other harmful
activity;</li>
    <li>To process a payment with Stripe Checkout, communicate regarding a
payment, and provide related customer service;</li>
    <li>For audits, regulatory purposes, and compliance with industry standards;</li>
    <li>To provide, maintain, and improve our Services (we continually strive
to improve our website offerings based on the information and feedback we
receive from you);</li>
    <li>To respond to your comments, questions and requests, and provide and
improve customer service (your information helps us to more effectively
respond to your customer service requests and support needs);</li>
    <li>To provide and deliver the products and services you request, process
transactions, and send you related information, including confirmations;</li>
    <li>To send periodic notices including technical notices, updates, security
alerts, and support and administrative messages;</li>
    <li>To communicate with you about products, services, offers, and events
offered by PageFund and others, and provide news and information we think will
be of interest to you;</li>
    <li>To monitor and analyze trends, usage and activities in connection with
our Services;</li>
    <li>To personalize and improve the Services and provide content or features
that match user profiles or interests;</li>
    <li>To link or combine with information we get from others to help
understand your needs and provide you with better service; and</li>
    <li>To carry out any other purpose for which the information was
collected.</li>
</ul>

<p>PageFund is based in the United States and the information we collect is
governed by U.S. law. By accessing or using the Services or otherwise providing
information to us, you consent to the processing and transfer of information in
and to the U.S. and other countries.</p>

<h3>Information collected by cookies and other tracking technologies</h3>

<p>PageFund uses various technologies to collect information, including cookies
and web beacons. Cookies are small data files stored on your hard drive or in
device memory that help us improve our Services and your experience, see which
areas and features of our Services are popular, and count visits. Web beacons
are electronic images that may be used in our Services or emails and help
deliver cookies, count visits and understand usage and campaign effectiveness.
For more information about cookies, and how to disable them, please see "Your
Choices" below.</p>

<h3>How do we protect your information?</h3>

<p>We have implemented commercially reasonable technical and organizational
measures designed to secure your personal information from accidental loss and
from unauthorized access, use, alteration or disclosure. However, we cannot
guarantee that unauthorized third parties will never be able to defeat those
measures or use your personal information for improper purposes.</p>

<h3>Sharing of Information</h3>

<p>We may share information about you as follows or as otherwise described in
this Privacy Policy:</p>
<ul>
    <li>With vendors, consultants and other service providers who assist us in
operating our website, conducting our business, or providing Services to you,
so long as those third parties agree to keep this information confidential;</li>
    <li>With third parties for their own services and marketing purposes,
unless you opt out of this type of sharing; to do so, please email us at
help@page.fund.</li>
    <li>In response to a request for information if we believe disclosure is in
accordance with, or required by, any applicable law, regulation or legal
process;</li>
    <li>If we believe your actions are inconsistent with our user agreements or
policies, or to protect the rights, property and safety of PageFund or
others;</li>
    <li>In connection with, or during negotiations of, any merger, sale of
company assets, financing or acquisition of all or a portion of our business by
another company;</li>
    <li>Between and among PageFund and our subsidiaries and affiliated
companies; and</li>
    <li>With your consent or at your direction.</li>
</ul>
<p>We use and disclose Data as we believe necessary: (i) under applicable law, 
or payment method rules; (ii) to enforce our terms and conditions; (iii) to 
protect our rights, privacy, safety or property, and/or that of our affiliates, 
You or others; and (iv) to respond to requests from courts, law enforcement 
agencies, regulatory agencies, and other public and government authorities, 
which may include authorities outside Your country of residence.</p>

<h3>Social sharing features</h3>

<p>The Services may offer social sharing features and other integrated tools
(such as the Facebook "Like" button), which let you share actions you take on
our Services with other media, and vice versa. Your use of such features
enables the sharing of information with your friends or the public, depending
on the settings you establish with the entity that provides the social sharing
feature. For more information about the purpose and scope of data collection
and processing in connection with social sharing features, please visit the
privacy policies of the entities that provide these features.</p>

<h3>Advertising and analytics services provided by others</h3>

<p>We may allow others to serve advertisements on our behalf across the
Internet and to provide analytics services. These entities may use cookies,
web beacons and other technologies to collect information about your use of the
Services and other websites, including your IP address, web browser, pages
viewed, time spent on pages, links clicked and conversion information. This
information may be used by PageFund and others to, among other things, analyze
and track data, determine the popularity of certain content, deliver
advertising and content targeted to your interests on our Services and other
websites and better understand your online activity. We may also work with
other websites or platforms (such as Facebook) to serve ads to you as part of a
customized campaign, unless you notify us that you prefer not to have
information about you used in this way. To opt out, please email us at
help@page.fund.

<h3>Your choices</h3>

<h4>Account information</h4>

<p>You may update, correct or delete information about you at any time by
logging into your online account, or emailing us at help@page.fund. 
If you wish to delete or deactivate your account, please email us at
help@page.fund, but note that we may retain
certain information as required by law or for legitimate business purposes. We
may also retain cached or archived copies of information about you for a
certain period of time.</p>

<h4>Cookies</h4>

<p>Most web browsers are set to accept cookies by default. If you prefer, you
can usually choose to set your browser to remove or reject browser cookies.
Removing or rejecting browser cookies does not necessarily affect third party
flash cookies used in connection with our Services. To delete or disable flash
cookies, please visit Adobe for more information. Please note that if you
choose to remove or reject cookies, this could affect the availability and
functionality of our Services.</p>

<h4>Promotional communications</h4>

<p>You may opt out of receiving informational or promotional emails from
PageFund by following the instructions in those emails or by emailing us at
help@page.fund. If you opt out, we may
still send you non-promotional communications, such as those about your account
or confirmations of donation transactions.</p>

<h3>Contacting us</h3>

<p>If there are any questions regarding this privacy policy you may contact us
at <a href="mailto:help@page.fund">help@page.fund</a>.</p>
