{% extends '_layout.html' %}
{% load static from staticfiles %}

{% block title %}Error | {{ block.super }}{% endblock %}

{% block body_content %}
    <div class="row">
        <div class="col-12">
            <h1>Invalid request</h1>
            <hr>
            <p>Our payment processor rejected this request due to invalid parameters. Please review your submission and correct any issues.</p>
            <p>If you need help, please <a href="mailto:help@page.fund">email</a> us.</p>
        </div>
    </div>
{% endblock %}

