{% load static from staticfiles %}

<!doctype html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113187750-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-113187750-1');
        </script>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% include "structured_data.html" %}

        {% block meta %}{% endblock %}

        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'manifest.json' %}">
        <link rel="mask-icon" href="{% static 'img/safari-pinned-tab.svg' %}" color="#33CC99">
        <meta name="theme-color" content="#ffffff">

        <title>{% block title %}PageFund{% endblock %}</title>

        <!-- css -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <link href="{% static 'css/main.css' %}?{% now 'U' %}" rel="stylesheet" />

        <!-- scripts -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <script src="https://js.stripe.com/v3/"></script>
        <script defer src="{% static 'js/fontawesome-all.min.js' %}"></script>
        <script defer src="{% static 'js/tooltip.js' %}"></script>

        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <![endif]-->

        {% block head_extra %}{% endblock %}
    </head>

    <body>
        {% block pre_nav %}{% endblock %}
        <nav class="navbar navbar-expand-lg">
            <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}"><img id="logo-nav" src="{% static 'img/logo.svg' %}" alt="PageFund logo" /></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fal fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link px-3" href="/about/">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-3" href="/create/">Create</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link px-3" href="{% url 'search:search' %}">Search</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link px-3" href="{% url 'userprofile:userprofile' %}">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-3" href="{% url 'account_logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link px-3" href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-3" href="{% url 'signup' %}">Sign up</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            </div>
        </nav>

        <main role="main"{% if request.path != '/create/' and request.path != '/features/' %} class="container"{% endif %}>
            {% block body_content %}{% endblock %}
        </main>

        {% include "footer.html" %}
        {% block body_extra %}{% endblock %}
    </body>
</html>
