{% extends '_layout.html' %}
{% load static from staticfiles %}

{% block title %} Terms of Service | {{ block.super }}{% endblock %}

{% block head_extra %}
    {% include "twitter_metadata.html" %}
    {% include "og.html" %}
    <meta property="og:url" content="https://page.fund/about/" />
    <meta name="description" content="{% include 'snippets/og_description.txt' %}">
{% endblock %}

{% block body_content %}
    <div class="row">
        <div class="col-12">
            <h2>Our story</h2>
            <hr>
            <p>PageFund's goal is to provide a simplified pathway for anyone raising funds in support of causes and organizations they are most passionate about. What began as a casual conversation amongst friends evolved into an innovative fundraising tool that removes traditional crowdfunding barriers and complications. At PageFund, we believe in the power of humanitarian efforts, community outreach, and service to help those around us. A fundraising tool shouldn't make these efforts more difficult. We are dedicated to supporting your efforts by making the process as painless and rewarding as possible.</p>
            <p>PageFund's online platform was designed to be used by anyone! Nonprofits, schools, organizations, foundations, companies, and individuals can quickly and easily raise extra funds by creating a Page.</p>
        </div>
    </div>
{% endblock %}
