{% extends '_base.html' %}

{% load static from staticfiles %}
{% load widget_tweaks %}

{% block meta %}<meta name="description" content="">{% endblock %}

{% block title %}Reset password | {{ block.super }}{% endblock %}

{% block body_content %}

    {% include "messages.html" %}

    {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
        </div>
    {% endif %}


    {% include "base_logo.html" %}

    <div class="row mt-3 mb-3">
        <div class="col-lg-12 text-center">
            <h3>Reset password</h3>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-12">
            <form class="login" method="POST" action="">
                {% csrf_token %}

                <div class="row justify-content-center">
                    <div class="form-group col-lg-10">
                        {% render_field form.password1 class+="form-control" aria-label="Password" %}
                    </div>
                    {% if form.password1.errors %}
                        <div class="col-lg-10 mt-1 mb-4">
                            {% for error in form.password1.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="row justify-content-center">
                    <div class="form-group col-lg-10">
                        {% render_field form.password2 class+="form-control" aria-label="Password again" %}
                    </div>
                    {% if form.password2.errors %}
                        <div class="col-lg-10 mt-1 mb-4">
                            {% for error in form.password2.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="row justify-content-center mb-2">
                    <div class="col-lg-10">
                        <button class="btn btn-purple btn-block" type="submit">Submit</button>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Cancel</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
{% endblock %}

