{% load staticfiles %}


<div class="container">
    <div class="row mb-5">
        <div class="col-lg-8 order-1 home-picture">
            <img class="img-fluid img-thumbnail" src="{% static 'img/fods_marathon_01.JPG' %}" />
        </div>
        <div class="col-lg-4 order-2">
            <h2>Our mission</h2>
            <p>PageFund provides an online platform for nonprofits, schools, organizations, companies, and individuals to quickly and easily raise extra funds by allowing anyone to campaign on their behalf.</p>
            <p><a href="" class="btn btn-outline-purple">About us</a></p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-lg-8 order-2 home-picture">
            <p>Picture</p>
        </div>
        <div class="col-lg-4 order-1">
            <h2>Pages</h2>
            <p>Pages are fixed spaces for anyone from nonprofits to individuals that are looking to raise extra funds. Use a Page to tell a story to the world, solicit direct donations, and post updates to Subscribers, all in one place.</p>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <a href="" class="btn btn-outline-purple btn-block">Learn more</a>
                </div>
                <div class="col-md-6 mb-3">
                    <a href="" class="btn btn-purple btn-block">Create Page</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-lg-8 order-1 home-picture">
            <p>Picture</p>
        </div>
        <div class="col-lg-4 order-2">
            <h2>Campaigns</h2>
            <p>Campaigns provide a goal-based means for anyone to fundraise for any Page. Campaigns are simple to setup, provide multiple options, and all donations are passed directly to the Page they are benefiting.</p>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <a href="" class="btn btn-outline-teal btn-block">Learn more</a>
                </div>
                <div class="col-md-6 mb-3">
                    <a href="" class="btn btn-teal btn-block">Create Campaign</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-lg-8 order-2 home-picture">
            <p>Picture</p>
        </div>
        <div class="col-lg-4 order-1">
            <h2>Donations</h2>
            <p>Donating is simple and fast. Search for a Page or Campaign, select an amount, and click donate. Sign up today to set up recurring donations for the Pages that matter most.</p>
            <p><a href="" class="btn btn-outline-purple">Sign up</a></p>
        </div>
    </div>
</div>
