<div class="container">
    <div class="row">
        <div class="col order-1 home-picture">
            <p>Picture</p>
        </div>
        <div class="col order-2">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in nisl at odio pellentesque condimentum a a magna.</p>
            <p>Donec sed arcu placerat, rutrum est id, gravida nisi.</p>
        </div>
    </div>
    <div class="row">
        <div class="col order-2 home-picture"">
            <p>Picture</p>
        </div>
        <div class="col order-1">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in nisl at odio pellentesque condimentum a a magna.</p>
            <p>Donec sed arcu placerat, rutrum est id, gravida nisi.</p>
        </div>
    </div>
    <div class="row">
        <div class="col order-1 home-picture"">
            <p>Picture</p>
        </div>
        <div class="col order-2">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in nisl at odio pellentesque condimentum a a magna.</p>
            <p>Donec sed arcu placerat, rutrum est id, gravida nisi.</p>
        </div>
    </div>
</div>
