{% load staticfiles %}


<div class="container">
    <div class="row mb-3">
        <div class="col-lg-12">
            <img class="img-fluid img-thumbnail" src="{% static 'img/fods_marathon_01.JPG' %}" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-12">
            <h2>Our Story</h2>
            <p>PageFund was started in 2017 after founder, Mona, realized that there weren't any straightforward or easy ways for her to raise money on behalf of her favorite organizations. What started off as a casual conversation amongst friends has blossomed into the best way for organizations and individuals to raise extra funds for the causes that matter most.</p>
        </div>
    </div>
    <div class="row pb-5 justify-content-center">
        <div class="col-lg-3 mb-3">
            <a href="/features/" class="btn btn-purple btn-block">Features</a>
        </div>
        <div class="col-lg-3 mb-3">
            <a href="/how-it-works/" class="btn btn-teal btn-block">How it works</a>
        </div>
    </div>
</div>
