{% extends '_layout.html' %}
{% load static from staticfiles %}

{% block title %}Invite | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'home' %}">Home</a> / Invite
{% endblock %}

{% block body_content %}
    <form action="" method="post">
        {% csrf_token %}
        <a href="#" data-toggle="tooltip" data-placement="top" title="some helpful info for the user"><i class="fal fa-question-circle"></i></a>
        {{ form.email.label_tag }}
        {{ form.email }}
        <input type="submit" value="Invite" />
    </form>
{% endblock %}
