{% extends '_base.html' %}

{% load socialaccount %}
{% load static from staticfiles %}
{% load widget_tweaks %}

{% block meta %}<meta name="description" content="">{% endblock %}

{% block title %}Login | {{ block.super }}{% endblock %}

{% block head_extra %}
    {% include "twitter_metadata.html" %}
    {% include "og.html" %}
    <meta property="og:url" content="https://page.fund/accounts/login/" />
{% endblock %}

{% block body_content %}

    {% include "base_logo.html" %}

    <div class="row mt-3 mb-3">
        <div class="col-lg-12 text-center">
            <h3>Login</h3>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-12">
            <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}

                {% if form.non_field_errors %}
                    <div class="row justify-content-center">
                        {% for error in form.non_field_errors %}
                            <div class="col-lg-10 alert alert-danger" role="alert">
                                {{ error|escape }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="row justify-content-center">
                    <label for="{{ form.login.id_for_label }}" class="sr-only">Email</label>
                    <div class="form-group col-lg-10">
                        {% render_field form.login class+="form-control" %}
                    </div>
                    {% if form.login.errors %}
                        <div class="col-lg-10 mt-1 mb-4">
                            {% for error in form.login.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="row justify-content-center">
                    <label for="{{ form.password.id_for_label }}" class="sr-only">Password</label>
                    <div class="form-group col-lg-10">
                        {% render_field form.password class+="form-control" %}
                    </div>
                    {% if form.password.errors %}
                        <div class="col-lg-10 mt-1 mb-4">
                            {% for error in form.password.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <button class="btn btn-purple btn-block" type="submit">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% get_providers as socialaccount_providers %}
    {% if socialaccount_providers %}
        {% for socialaccount_provider in socialaccount_providers %}
            <div class="row mb-1 justify-content-center">
                <div class="col-lg-10">
                    {% if socialaccount_provider.name|lower == 'google' %}
                        <a href="{% provider_login_url "google" %}" class="btn btn-block btn-primary google">
                            <i class="fab fa-fw fa-google"></i> Login with Google
                        </a>
                    {% elif socialaccount_provider.name|lower == 'facebook' %}
                        <a href="{% provider_login_url "facebook" method="oauth2" %}" class="btn btn-block btn-primary facebook">
                            <i class="fab fa-fw fa-facebook-f"></i> Login with Facebook
                        </a>
                    {% elif socialaccount_provider.name|lower == 'twitter' %}
                        <a href="{% provider_login_url "twitter" %}" class="btn btn-block btn-primary twitter">
                            <i class="fab fa-fw fa-twitter"></i> Login with Twitter
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <div class="row mt-3">
        <div class="col-12 text-center">
            <p><a href="{% url 'forgot_password_request' %}">Forgot password?</a></p>
            <p>Don't have an account yet? <a href="{{ signup_url }}">Sign up!</a></p>
        </div>
    </div>

{% endblock %}
