<nav id="nav-container">
    <div id="nav-content-container" class="container">
        <a class="navbar-brand" href="{% url 'home' %}" style="display:none;">PageFund</a>

        <div id="navbarNavAltMarkup" class="col text-center">
            <ul id="nav-ul" class="list-inline">
                <li id="search" class="nav-item">
                     <a class="nav-link" href="{% url 'search:search' %}">Search</a>
                </li>
                <li id="about" class="list-inline-item">
                    <a class="nav-link" href="/about/">About</a>
                </li>
                <li id="faqs" class="list-inline-item">
                    <a class="nav-link" href="{% url 'faqs:faq_list' %}">FAQs</a>
                </li>
                {% if not user.is_authenticated %}
                    <li id="login" class="list-inline-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li id="signup" class="list-inline-item">
                        <a class="nav-link" href="{% url 'signup' %}">Sign up</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
 </nav>
