<nav id="nav-container">
    <div id="nav-content-container" class="container">
        <a class="navbar-brand" href="{% url 'home' %}" style="display:none;">PageFund</a>

        <div id="navbarNavAltMarkup" class="col text-center">
            <ul id="nav-ul" class="list-inline">
                <li id="search" class="list-inline-item">
                     <a class="nav-link" href="{% url 'search:search' %}">Search</a>
                </li>
                <li id="about" class="list-inline-item">
                    <a class="nav-link" href="/about/">About</a>
                </li>
                <li id="faqs" class="list-inline-item">
                    <a class="nav-link" href="{% url 'faqs:faq_list' %}">FAQs</a>
                </li>
                {% if user.is_authenticated %}
                    <li id="profile" class="list-inline-item">
                        <a class="nav-link" href="{% url 'userprofile:userprofile' %}">Profile</a>
                    </li>
                    <li id="logout" class="list-inline-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li id="login" class="list-inline-item">
                        <a class="btn btn-outline-success nav-link" href="{% url 'login' %}" role="button">Login</a>
                    </li>
                    <li id="signup" class="list-inline-item">
                        <a class="btn btn-outline-info nav-link" href="{% url 'signup' %}" role="button">Sign up</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
 </nav>
