{% load staticfiles %}

<nav id="nav-container">
    <div id="nav-content-container" class="container">
        <a class="navbar-brand" href="{% url 'home' %}" style="display:none;"><img id="logo-nav" src="{% static 'img/logo_beta.svg' %}" /></a>

        <div id="navbarNavAltMarkup" class="col text-center">
            <ul id="nav-ul" class="list-inline">
                <li id="create" class="list-inline-item">
                    <a class="nav-link" href="/create/">Create</a>
                </li>
                <li id="search" class="list-inline-item">
                     <a class="nav-link" href="{% url 'search:search' %}">Search</a>
                </li>
                {% if user.is_authenticated %}
                    <li id="profile" class="list-inline-item">
                        <a class="nav-link" href="{% url 'userprofile:userprofile' %}">Profile</a>
                    </li>
                    <li id="logout" class="list-inline-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li id="login" class="list-inline-item">
                        <a class="btn btn-outline-success text-uppercase" href="{% url 'login' %}" role="button">Login</a>
                    </li>
                    <li id="signup" class="list-inline-item">
                        <a class="btn btn-outline-info text-uppercase" href="{% url 'signup' %}" role="button">Sign up</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
 </nav>
