{% extends '_base.html' %}

{% load socialaccount %}
{% load static from staticfiles %}
{% load widget_tweaks %}

{% block title %}Sign up | {{ block.super }}{% endblock %}

{% block head_extra %}
    {% include "twitter_metadata.html" %}
    {% include "og.html" %}
    <meta property="og:url" content="https://page.fund/accounts/signup/" />
{% endblock %}

{% block body_content %}

    {% include "base_logo.html" %}

    <div class="row mt-3 mb-3">
        <div class="col-lg-12 text-center">
            <h1 class="font-size-175">Sign up</h1>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-12">
            {% if form.non_field_errors %}
                <div class="row justify-content-center">
                    {% for error in form.non_field_errors %}
                        <div class="col-lg-12 alert alert-danger" role="alert">
                            {{ error|escape }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% for field in form %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="row justify-content-center">
                            <div class="col-lg-12 alert alert-danger" role="alert">
                                {{ error|escape }}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}

            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}

                <div class="row justify-content-center">
                    <div class="form-group col-lg-12">
                        {% render_field form.email class+="form-control" aria-label="Email" %}
                    </div>
                </div>

                <div class="row mb-3 justify-content-center">
                    <div class="form-group col-lg-12">
                        {% render_field form.email2 class+="form-control" aria-label="Email again"%}
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="form-group col-lg-12">
                        {% render_field form.password1 class+="form-control" aria-label="Password" %}
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="form-group col-lg-12">
                        {% render_field form.password2 aria-label="Password again" class+="form-control" %}
                        <small id="password1-help" class="form-text text-muted">
                            Your password must be at least 7 characters and contain at least 1 number.
                        </small>
                    </div>
                </div>

                {% if redirect_field_value %}
                     <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <button class="btn btn-purple btn-block" type="submit">Sign up</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% get_providers as socialaccount_providers %}
    {% if socialaccount_providers %}
        {% for socialaccount_provider in socialaccount_providers %}
            <div class="row mb-1 justify-content-center">
                <div class="col-lg-12 signup py-0">
                    {% if socialaccount_provider.name|lower == 'google' %}
                        <a href="{% provider_login_url "google" %}" class="btn btn-block btn-primary google">
                            <i class="fab fa-fw fa-google"></i> Sign up with Google
                        </a>
                    {% elif socialaccount_provider.name|lower == 'facebook' %}
                        <a href="{% provider_login_url "facebook" method="oauth2" %}" class="btn btn-block btn-primary facebook">
                            <i class="fab fa-fw fa-facebook-f"></i> Sign up with Facebook
                        </a>
                    {% elif socialaccount_provider.name|lower == 'twitter' %}
                        <a href="{% provider_login_url "twitter" %}" class="btn btn-block btn-primary twitter">
                            <i class="fab fa-fw fa-twitter"></i> Sign up with Twitter
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <div class="row mt-3">
        <div class="col-12 text-center">
            <p class="text-center login-text">Already have an account? <a href="{{ login_url }}">Sign in!</a></p>
        </div>
    </div>
{% endblock %}
