{% extends '_layout.html' %}

{% load socialaccount %}

{% block title %}Sign Up | {{ block.super }}{% endblock %}

{% block body_content %}
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button type="submit" class="btn btn-success btn-block">Sign up</button>
    </form>
    {% get_providers as socialaccount_providers %}
    {% if socialaccount_providers %}
        {% for socialaccount_provider in socialaccount_providers %}
            {% if socialaccount_provider.name|lower == 'facebook' %}
                <a href="{% provider_login_url "facebook" method="oauth2" %}">Sign up with Facebook</a>
            {% elif socialaccount_provider.name|lower == 'google' %}
                <a href="{% provider_login_url "google" %}">Sign up with Google</a>
            {% elif socialaccount_provider.name|lower == 'twitter' %}
                <a href="{% provider_login_url "twitter" %}">Sign up with Twitter</a>
            {% endif %}
        {% endfor %}
    {% endif %}
    <p class="text-center login-text">Already have an account? <a href="{{ login_url }}">Sign in!</a></p>
{% endblock %}
