{% extends '_base.html' %}

{% load socialaccount %}
{% load static from staticfiles %}
{% load widget_tweaks %}

{% block meta %}<meta name="description" content="">{% endblock %}

{% block title %}Sign up | {{ block.super }}{% endblock %}

{% block body_content %}
    <div class="row">
        <div class="col-12 text-center">
            <a href="{% url 'home' %}"><img id="logo-login" src="{% static 'img/logo.svg' %}" alt="PageFund logo" title="PageFund logo" /></a>
        </div>
    </div>

    <div class="row mt-3 mb-3">
        <div class="col-lg-12 text-center">
            <h3>Social authentication</h3>
            {% with provider_name=account.get_provider.name %}
                <p>Please confirm your {{provider_name}} email.</p>
            {% endwith %}
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-12">
            <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
                {% csrf_token %}

                <div class="row justify-content-center">
                    <label for="{{ form.email.id_for_label }}" class="sr-only">Email</label>
                    <div class="form-group col-lg-10">
                        {% render_field form.email class+="form-control" %}
                    </div>
                    {% if form.email.errors %}
                        <div class="col-lg-10 mt-1 mb-4">
                            {% for error in form.email.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="row mb-3 justify-content-center">
                    <label for="{{ form.email2.id_for_label }}" class="sr-only">Email again</label>
                    <div class="form-group col-lg-10">
                        {% render_field form.email2 class+="form-control" %}
                    </div>
                    {% if form.email2.errors %}
                        <div class="col-lg-10 mt-1 mb-4">
                            {% for error in form.email2.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                {% if redirect_field_value %}
                     <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <button class="btn btn-purple btn-block" type="submit">Sign up</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12 text-center">
            <p class="text-center login-text">Already have an account? <a href="{{ login_url }}">Sign in!</a></p>
        </div>
    </div>
{% endblock %}

