<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "url": "https://page.fund",
        "sameAs": [
            "https://www.facebook.com/pagefund/",
            "https://www.instagram.com/pagefund/",
            "https://twitter.com/pagefundinc",
            "https://www.linkedin.com/company/27173308/"
        ],
        "logo": "https://page.fund/static/img/logo_og.png",
        "name": "PageFund",
        "email": "help@page.fund",
        "contactPoint": {
          "email": "help@page.fund",
          "contactType": "Customer service"
        }
    }
</script>

